Repository UnitTestBot/UTBotJava, pull requests merged in 2022-12, with the labels that each got.

#1439 Better test source root suggestion: remove standard "src/main/" suffix
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/models/BaseTestModel.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/components/TestFolderComboWithBrowseButton.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/ModuleUtils.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/RootUtils.kt
  utbot-ui-commons/src/test/kotlin/org/utbot/intellij/plugin/ui/utils/RootUtilsTest.kt
Labels: bug, ui

#1459 Python sdk checking
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonLanguageAssistant.kt
Labels: python

#1390 Remove python3parser in python code generation
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/UTPythonAPI.kt
  utbot-python/src/main/kotlin/org/utbot/python/code/CodeGen.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonImports.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/name/PythonCgNameGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgMethodConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/util/ConstructorUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/visitor/CgPythonRenderer.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/ModuleToString.kt
  utbot-python/src/main/resources/requirements.txt
Labels: codegen, python

#1453 RD_for_UnitTestBot.md reviewed
  docs/RD for UnitTestBot.md
Labels: documentation

#1428 Contest estimator design-doc
  docs/OverallArchitecture.md
  utbot-junit-contest/README.md
Labels: documentation, contest estimator

#1493 Rider plugin install version bump
  utbot-rider/build.gradle.kts
Labels: Rider

#1512 Fix function name in codegen for mypy
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
Labels: bug, python

#1531 Rider plugin updates
  utbot-rd/src/main/rdgen/org/utbot/rd/models/CSharpModel.kt
  utbot-rider/src/dotnet/UtBot/UtBot.Rd/Generated/CSharpRoot.Generated.cs
  utbot-rider/src/dotnet/UtBot/UtBot.Rd/Generated/VSharpModel.Generated.cs
  utbot-rider/src/dotnet/UtBot/UtBot.Rd/RdUtil.cs
  utbot-rider/src/dotnet/UtBot/UtBot.VSharp/UtBot.VSharp.csproj
  utbot-rider/src/dotnet/UtBot/UtBot.VSharp/VSharpMain.cs
  utbot-rider/src/dotnet/UtBot/UtBot/GenerateUnitTestElementProvider.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestBuilder.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestMethodDescriptor.cs
  utbot-rider/src/dotnet/UtBot/UtBot/VSharpFrameworkChecker.cs
Labels: Rider

#1532 Add summaries of `ConcreteExecutor` and `Minimization` in `OverallArchitecture.md`
  docs/OverallArchitecture.md
Labels: documentation

#1549 Add the information about SARIF report and Gradle/Maven plugins
  docs/OverallArchitecture.md
Labels: documentation

#1550 Rider fixes
  utbot-rider/src/dotnet/UtBot/UtBot.VSharp/VSharpMain.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestBuilder.cs
  utbot-rider/src/main/resources/META-INF/plugin.xml
  utbot-rider/src/main/resources/META-INF/pluginIcon.svg
  utbot-rider/src/main/resources/META-INF/pluginIcon_dark.svg
Labels: Rider

#1553 Fix python coverage database bug with access to database directory
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonEvaluation.kt
  utbot-python/src/main/kotlin/org/utbot/python/code/CodeGen.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TemporaryFileManager.kt
  utbot-python/src/main/resources/requirements.txt
Labels: bug, python

#1567 Collect all necessary system paths for import other modules
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
Labels: bug, python

#1566 Added Node JS getter from IDEA setting with automatically NPM packages installation
  utbot-intellij-js/build.gradle.kts
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogWindow.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/Utils.kt
  utbot-js/src/main/kotlin/utils/JsCmdExec.kt
Labels: JavaScript

#1572 Add LockFile to PythonDialogProcessor #1568
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
Labels: bug, python

#1574 Remove builtins modules from sys.path
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TemporaryFileManager.kt
Labels: bug, python

#1571 CodeGenerationAndRendering.md -- typos fixed
  docs/CodeGenerationAndRendering.md
Labels: documentation

#1576 Fix Python plugin locking UI
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonLanguageAssistant.kt
Labels: bug, python

#1585 Fixed improper verification of the mocha installation
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/Utils.kt
Labels: bug, JavaScript

#1565 OverallArchitecture.md updated with components info
  docs/OverallArchitecture.md
Labels: documentation

#1583 Added JavaScript installation guide
  docs/JavaScriptSupport.md
  utbot-cli-js/src/README.md
Labels: documentation, JavaScript
