Repository UnitTestBot/UTBotJava, pull requests merged in 2023-07, with the labels that each got.

#2342 Prohibit generating integration tests with XML configuration
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, ctg-bug-fix, comp-spring

#2334 Fallback to using `ThrowableModel` if serializing exception to bytes fails
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/ThrowableSerializer.kt
Labels: ctg-enhancement, comp-instrumented-process, ctg-bug-fix, comp-spring

#2364 Fix double-quoted engine process classpath argument
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
Labels: ctg-bug-fix

#2202 Move KryoHelper to use it for different processes communication
  utbot-framework-api/build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/kryo/KryoHelper.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/kryo/ProcessCommunicationException.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/kryo/ThrowableSerializer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-instrumentation/build.gradle.kts
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/InstrumentedProcess.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/InstrumentationException.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
Labels: ctg-enhancement, comp-rd

#2335 Support running Spring integration tests in instrumentation process
  gradle.properties
  utbot-core/src/main/kotlin/org/utbot/common/AnnotationUtil.kt
  utbot-instrumentation/build.gradle.kts
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/InstrumentationContextAwareValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/InstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/SimpleInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/mock/InstanceMockController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/mock/MethodMockController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/mock/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ExecutionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ValueConstructionPhase.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzer/SpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/ConfigurationManager.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/SourceFinder.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/SpringApi.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/context/ContextWrapper.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/ApplicationInstantiatorFacade.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/ConfiguredApplicationInstantiator.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/SpringApiProviderFacade.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/repositoryWrapper/RepositoryInteraction.kt
  utbot-spring-commons/build.gradle.kts
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummyPureSpringIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringBootIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/environment/EnvironmentFactory.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/PureSpringApplicationInstantiator.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringApplicationInstantiator.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringApplicationInstantiatorFacade.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringBootApplicationInstantiator.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/PureSpringApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringApiProviderFacadeImpl.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringBootApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/repositoryWrapper/RepositoryWrapperBeanPostProcessor.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/repositoryWrapper/RepositoryWrapperConfiguration.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/repositoryWrapper/RepositoryWrapperInvocationHandler.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/utils/RepositoryUtils.kt
Labels: ctg-enhancement, comp-instrumented-process, comp-spring

#2370 Manual testing checklist template correction
  .github/ISSUE_TEMPLATE/test_request.md
Labels: comp-infrastructure, ctg-qa

#2369 Spring UI fixes and general UI refactoring
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, comp-spring

#2351 Support user-defined configurations and profiles in Spring integration test code generation
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/UtSettingsUtil.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/generated/InstrumentedProcessModel.Generated.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/CodeGenerationController.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/Settings.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/util/SpringConfigurationsHelper.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/SpringAnalyzerModel.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzer/SpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/api/ApplicationData.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/generated/SpringAnalyzerProcessModel.Generated.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/process/SpringAnalyzerProcess.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/process/SpringAnalyzerProcessMain.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/SourceFinder.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/InstantiationSettings.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/models/BaseTestModel.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/util/PsiClassHelper.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2377 Field modifiers correction in Spring generated test classes
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
Labels: comp-codegen, comp-spring

#2381 Fix bug with testFramework list presentation
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, ctg-bug-fix

#2365 First autotests for tests generation on Spring projects
  settings.gradle.kts
  utbot-framework-test/build.gradle
  utbot-spring-sample/build.gradle
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/Order.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/OrderRepository.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/OrderService.java
  utbot-spring-test/build.gradle
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/OrderServiceTests.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/utils/SpringTestingConfiguration.kt
  utbot-spring-test/src/test/resources/log4j2.xml
  utbot-testing/src/main/kotlin/org/utbot/testing/TestCodeGeneratorPipeline.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/UtModelTestCaseChecker.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/UtValueTestCaseChecker.kt
Labels: ctg-enhancement, ctg-qa, comp-spring

#2385 Correct annotations for parameterized tests in TestNg
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
Labels: comp-codegen, ctg-bug-fix

#2388 Add spring test to runs
  .github/workflows/build-and-run-tests-from-branch.yml
Labels: comp-infrastructure, ctg-qa, comp-spring

#2394 Make thisInstance null checks under timeout
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
Labels: comp-fuzzing, ctg-bug-fix

#2391 Only add `@AutoConfigureTestDatabase` when `spring-data` is installed; install `spring-test` with `spring-boot-test`
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummyPureSpringIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringBootIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/PureSpringApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringBootApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/utils/DependencyUtils.kt
Labels: comp-codegen, comp-ui, ctg-bug-fix, comp-spring

#2398 Do not miss non-injected fields in Spring unit test generation
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2397 Add `contextLoads()` test
  utbot-core/src/main/kotlin/org/utbot/common/ThreadUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IndentUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/kryo/ThrowableSerializer.kt
  utbot-framework/build.gradle
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/SpringBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgPrinter.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/util/CommentUtil.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/ConcreteExecutor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/generated/InstrumentedProcessModel.Generated.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/InstrumentedProcessModel.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzer/SpringApplicationAnalyzer.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/SpringApi.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/UTSpringContextLoadingException.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/InstantiationSettings.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/provider/InstantiationSettings.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/provider/SpringApiProviderFacade.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/PureSpringApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringApiProviderFacadeImpl.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringBootApiProvider.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/DBSCANClusteringConstants.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestCodeGeneratorPipeline.kt
Labels: ctg-enhancement, comp-codegen, comp-instrumented-process, comp-spring

#2402 Fix speculativelyCannotProduceNullPointerException in Spring projects
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
Labels: comp-symbolic-engine, ctg-bug-fix, comp-spring

#2403 Try to improve staticMocking UI control behavior
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, ctg-bug-fix, comp-spring

#2405 Use custom by lazy in SpringApplicationContext because of RD
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
Labels: comp-symbolic-engine, ctg-bug-fix, comp-spring

#2406 Divide test set "examples-part2" into two sets
  .github/workflows/framework-tests-matrix.json
Labels: ctg-enhancement, comp-infrastructure, ctg-qa

#2408 Correct one more scenario of staticsMocking selection
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, ctg-bug-fix, comp-spring

#2415 Fix `DummySpringBootIntegrationTestClass` annotations
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringBootIntegrationTestClass.kt
Labels: comp-codegen, comp-instrumented-process, ctg-bug-fix, comp-spring

#2373 Fix JaCoCo for Contest Estimator
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/fuzzer/FuzzerFunctions.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Api.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Configuration.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Providers.kt
  utbot-fuzzing/src/test/kotlin/org/utbot/fuzzing/ProvidersTest.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-junit-contest/build.gradle
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
Labels: comp-fuzzing, comp-contest-estimator, ctg-bug-fix

#2426 Add autotests for Spring non-injected fields
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/OrderRepository.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/oneBeanForOneType/Order.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/oneBeanForOneType/ServiceWithInjectedAndNonInjectedField.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/oneBeanForOneType/ServiceWithInjectedField.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/Person.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/PersonConfig.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/PersonService.java
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/oneBeanForOneType/ServiceWithInjectedAndNonInjectedFieldTests.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/oneBeanForOneType/ServiceWithInjectedFieldTests.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/utils/CallUtils.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/utils/SpringTestingConfiguration.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/Configurations.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestCodeGeneratorPipeline.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestSpecificTestCaseGenerator.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/UtValueTestCaseChecker.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/Utils.kt
Labels: ctg-bug-fix, comp-spring

#2433 Make Spring integration tests use `AbstractsValueProvider`
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
Labels: ctg-enhancement, comp-fuzzing, comp-spring

#2431 Make fuzzer use generic field types
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/test/java/org/utbot/fuzzing/samples/StringListHolder.java
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
Labels: comp-fuzzing, lang-java, ctg-bug-fix

#2435 Make fuzzer explore single branch
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Api.kt
  utbot-fuzzing/src/test/kotlin/org/utbot/fuzzing/FuzzerSmokeTest.kt
Labels: comp-fuzzing, ctg-bug-fix

#2423 Try to create separate artifacts for Spring and Experimental languages
  .github/workflows/build-and-run-tests-from-branch.yml
  .github/workflows/publish-plugin-from-branch.yml
  .github/workflows/run-chosen-tests-from-branch.yml
  gradle.properties
  settings.gradle.kts
  utbot-framework/build.gradle
  utbot-instrumentation/build.gradle.kts
  utbot-intellij/build.gradle.kts
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-rd/build.gradle
Labels: ctg-refactoring, lang-python, lang-javascript, comp-spring, lang-go

#2438 Support Spring autowire two beans of one type and one UtModel
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgClassFieldManager.kt
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/Person.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/PersonConfig.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/PersonService.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/ServiceOfBeansWithSameType.java
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/SpringNoConfigUtValueTestCaseChecker.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/oneBeanForOneType/ServiceWithInjectedAndNonInjectedFieldTests.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/oneBeanForOneType/ServiceWithInjectedFieldTests.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/ServiceOfBeansWithSameTypeTest.kt
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/utils/CallUtils.kt
Labels: comp-codegen, comp-spring

#2442 Remove unnecessary annotations from Spring integration tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringInstrumentationContext.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/SourceFinder.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2443 Avoid useless setField calls when value is default
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: ctg-enhancement, comp-codegen

#2451 Check if superclass or interfaces contain applicable types
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/test/java/org/utbot/fuzzing/samples/Implementations.java
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaTypesTest.kt
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/Utils.kt
Labels: comp-fuzzing, ctg-bug-fix

#2448 Make Spring Java fuzzer fallback to `null` value when nothing else works
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
Labels: comp-fuzzing, lang-java, ctg-bug-fix, comp-spring

#2449 Replace `nullFuzzedValue` with primitive-aware `defaultFuzzedValue`
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Field.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Utils.kt
Labels: comp-fuzzing, lang-java, ctg-bug-fix

#2445 Introduce utbot-light module
  settings.gradle.kts
  utbot-analytics/src/main/kotlin/org/utbot/features/UtExpressionStructureCounter.kt
  utbot-api/build.gradle.kts
  utbot-core/build.gradle.kts
  utbot-framework-api/build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-test/src/main/java/org/utbot/examples/manual/examples/Trivial.java
  utbot-framework-test/src/test/java/org/utbot/examples/manual/UtBotJavaApiTest.java
  utbot-framework/src/main/kotlin/org/utbot/engine/ExecutionStateListener.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/pc/Simplificator.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/pc/UtExpression.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/pc/UtExpressionVisitor.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/pc/Z3EvaluatorVisitor.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/pc/Z3TranslatorVisitor.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/selectors/BasePathSelector.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/z3/Z3initializer.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UnitTestBotLight.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SootUtils.kt
  utbot-java-fuzzing/build.gradle.kts
  utbot-light/build.gradle
Labels: ctg-refactoring

#2456 Process some concrete failures gracefully
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/UtExecutionResult.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/TagGenerator.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2283 Update UnitTestBot Go docs
  docs/GoSupport.md
  utbot-go/docs/DEVELOPER_GUIDE.md
Labels: ctg-documentation, lang-go

#2459 Fix summaries generation for anonymous classes
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-junit-contest/build.gradle
Labels: comp-summaries, comp-fuzzing, comp-contest-estimator, ctg-bug-fix

#2276 Add taint analysis documentation
  docs/TaintAnalysis.md
Labels: ctg-documentation, comp-taint-analysis
