Repository UnitTestBot/UTBotJava, pull requests merged in 2023-12, with the labels that each got.

#2713 Fix creation of variables for class fields
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAbstractClassFieldManager.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2679 Pycharm plugin publishing
  .github/workflows/publish-plugin-from-branch.yml
  utbot-intellij-python/build.gradle.kts
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/python/PythonDialogProcessor.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/python/ui/actions/GenerateTestsAction.kt
  utbot-intellij-python/src/main/resources/META-INF/plugin.xml
  utbot-intellij-python/src/main/resources/META-INF/pluginIcon.svg
  utbot-intellij-python/src/main/resources/META-INF/withPython.xml
  utbot-intellij-python/src/main/resources/application.properties
  utbot-intellij-python/src/main/resources/log4j2.xml
  utbot-intellij-python/src/main/resources/settings.properties
  utbot-python/src/main/kotlin/org/utbot/python/utils/PythonVersionChecker.kt
Labels: comp-ui, lang-python

#2714 Make UtBot working without usvm tokens
  gradle.properties
  utbot-junit-contest/build.gradle
Labels: ctg-enhancement, comp-symbolic-engine, comp-contest-estimator

#2715 Introduce utbot-usvm module and use it in contest
  gradle.properties
  settings.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/fuzzer/IdGenerator.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/utils/UtilMethodProvider.kt
  utbot-framework-test/src/test/kotlin/org/utbot/framework/assemble/AssembleModelGeneratorTests.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/UtilMethodBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgRendererContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/UtilMethodRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ConstructorUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/util/DslUtil.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/ConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/JavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleJavaFuzzingContext.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzer/FuzzedType.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzer/FuzzedValue.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Arrays.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Collections.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Enums.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Others.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/GeneratedField.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/InjectMocks.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/Mocks.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/ValidEntity.kt
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/IdGeneratorTest.kt
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
  utbot-junit-contest/build.gradle
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/ContestEstimator.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/usvm/ContestUsvm.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
  utbot-usvm/build.gradle.kts
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/ConverterUtils.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/InstructionIdProvider.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/JcToUtExecutionConverter.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/JcToUtModelConverter.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/UTestInstToUtModelConverter.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/UTestValueDescriptorUtils.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/converter/UtUsvmExecution.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/jc/JcContainer.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/jc/JcExecution.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/jc/JcTestExecutor.kt
  utbot-usvm/src/main/kotlin/org/utbot/usvm/jc/JcTestExecutorDecoderApi.kt
Labels: ctg-enhancement, comp-contest-estimator

#2719 Add USVM jars to `resources/lib`
  utbot-usvm/build.gradle.kts
  utbot-usvm/src/main/kotlin/org/utbot/usvm/jc/JcJars.kt
Labels: ctg-enhancement, comp-infrastructure

#2724 Added one more seata related jar to `utbot-junit-contest`
  utbot-junit-contest/src/main/resources/projects/seata-core-0.5.0/config-1.2.1.jar
Labels: ctg-enhancement, comp-contest-estimator

#2730 Fix Mockito version update
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/DependencyPatterns.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/DependencyUtils.kt
Labels: ctg-bug-fix

#2731 Add saving Spring related settings selected by User on action dialog
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/Settings.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
Labels: comp-ui, comp-spring
