Repository UnitTestBot/UTBotJava, pull requests merged in 2023-11, with the labels that each got.

#2667 Fixed a bug with the loss of symbolic tests when filling summaries
  utbot-summary/src/main/kotlin/org/utbot/summary/Summarization.kt
Labels: comp-summaries, ctg-bug-fix

#2674 Fix python sys.path rendering
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/utils/StringUtils.kt
Labels: comp-codegen, lang-python, ctg-bug-fix

#2675 Some useful changes from Contest 2023 that were missed in UnitTestBot main branch
  utbot-junit-contest/runtool
  utbot-junit-contest/src/main/kotlin/org/utbot/runtool/UtBotTool2.kt
Labels: ctg-enhancement, comp-contest-estimator

#2693 Fix python instructions collecting method for python 3.9 and older
  utbot-python-executor/src/main/python/utbot_executor/pyproject.toml
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/executor.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/utils.py
  utbot-python-executor/src/main/resources/utbot_executor_version
Labels: lang-python, ctg-bug-fix
