Repository UnitTestBot/UTBotJava, pull requests merged in 2023-08, with the labels that each got.

#2447 Use controllers via `MockMvc` in Spring integration tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/constructor/ValueConstructor.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/models/CompositeModelMinimizationChecker.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgMethodTestSet.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SimpleTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/reports/TestsGenerationReport.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/language/CgLanguageAssistant.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgComponents.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgCustomAssertConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMockMvcResultActionsAssertConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSimpleTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ConstructorUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/ConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/fields/ExecutionStateAnalyzer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SizeUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtConcreteExecutionResultUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtModelVisitor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/Instrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SimpleUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/InstrumentationContextAwareValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/JavaStdLibCustomModelConstructors.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtAssembleModelConstructors.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelWithCompositeOriginConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/InstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/SimpleInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ModelConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/UtMockMvcResultActionsModelConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/InstrumentedProcess.kt
  utbot-instrumentation/src/test/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/BaseConstructorTest.kt
  utbot-js/src/main/kotlin/api/JsTestGenerator.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgMethodConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgMethodConstructor.kt
  utbot-spring-commons/build.gradle.kts
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringBootIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/provider/SpringBootApiProvider.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/utils/DependencyUtils.kt
Labels: ctg-enhancement, comp-codegen, comp-instrumented-process, comp-spring

#2465 Make `SpringTypeReplacer` actually call its delegate
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringTypeReplacer.kt
Labels: ctg-enhancement, comp-symbolic-engine, comp-spring

#2467 Avoid collecting useless models in SpringTestClassModelBuilder
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
Labels: comp-codegen, ctg-refactoring, comp-spring

#2469 Review Taint analysis docs for linguistic issues
  docs/TaintAnalysis.md
Labels: ctg-documentation, comp-taint-analysis

#2446 Add bytecode transformation for if statement with call of String methods
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-instrumentation-tests/src/test/java/org/utbot/examples/samples/transformation/StringMethodsCalls.java
  utbot-instrumentation-tests/src/test/kotlin/org/utbot/examples/TestBytecodeTransformation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/agent/DynamicClassTransformer.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SimpleUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/transformation/BytecodeTransformation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/transformation/BytecodeTransformer.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/transformation/adapters/PatternMethodAdapter.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/transformation/adapters/StringMethodsAdapter.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/InstrumentedProcess.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/generated/InstrumentedProcessModel.Generated.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/InstrumentedProcessModel.kt
Labels: ctg-enhancement, comp-instrumented-process

#2473 Support autowiring collections in Spring Unit tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/MockitoBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/UtilMethodBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/SpyFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2476 Follow fix up of dependentModel collecting
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
Labels: ctg-bug, comp-codegen, comp-spring

#2478 Recursive collecting of Autowired models returned
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
Labels: ctg-bug, comp-codegen

#2482 Close Spring transaction in the same thread that opened it even on timeout
  utbot-core/src/main/kotlin/org/utbot/common/ThreadUtil.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/InstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/SimpleInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2475 Support creation and persistence of valid entities
  gradle.properties
  utbot-core/src/main/kotlin/org/utbot/common/DynamicProperties.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SizeUtils.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/FuzzedTypeWithProperties.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/GeneratedField.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/PropertyPreservingValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SavedEntity.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/AbstractPrimitiveValidValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/AbstractValidValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/Email.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/NotBlank.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/NotEmpty.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/ValidEntity.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/SpringApi.kt
  utbot-spring-commons/build.gradle.kts
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/dummy/DummySpringIntegrationTestClass.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/utils/DependencyUtils.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/utils/RepositoryUtils.kt
Labels: ctg-enhancement, comp-codegen, comp-fuzzing, comp-instrumented-process, comp-spring

#2484 Refactor annotated class variables processing
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SimpleTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAbstractClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAutowiredFieldsManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgInjectingMocksFieldsManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgMockedFieldsManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgPersistenceContextFieldsManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgSpiedFieldsManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/ClassFieldManagerFacade.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/MockitoInjectionUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/ModelGroupsProvider.kt
Labels: comp-codegen, ctg-refactoring, comp-spring

#2308 fix workflow image #2307
  .github/workflows/collect-statistics.yml
Labels: comp-infrastructure, comp-github-action, ctg-bug-fix

#2492 Python fix bugs
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonCliProcessor.kt
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonGenerateTestsCommand.kt
  utbot-python/samples/run_tests.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
Labels: comp-codegen, comp-cli, lang-python, ctg-bug-fix

#2493 Remove upper limit for night monitoring due to OutOfMemoryError
  .github/workflows/collect-statistics.yml
Labels: comp-infrastructure, comp-github-action, ctg-bug-fix

#2444 Allow Fuzzer use all class under test public methods
  settings.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/util/SootUtil.kt
  utbot-framework-test/src/test/kotlin/org/utbot/framework/modificators/UtBotFieldModificatorsTest.kt
  utbot-framework/build.gradle
  utbot-framework/src/main/kotlin/org/utbot/engine/OptionalWrapper.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/StreamWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/modifications/AnalysisUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/EngineUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtConcreteExecutionResultUtils.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SimpleUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/InstrumentationContextAwareValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/InvocationPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ModelConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/StatisticsCollectionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ValueConstructionPhase.kt
  utbot-java-fuzzing/build.gradle.kts
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-modificators-analyzer/build.gradle.kts
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/AnalysisMode.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/ConstructorAnalyzer.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/DirectAccessorsAnalyzer.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/ExecutablesAnalyzer.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/StatementInfo.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/StatementsStorage.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/Transformers.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/UtBotFieldsModificatorsSearcher.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/util/KotlinIntrinsicsUtil.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/util/SootUtil.kt
Labels: ctg-enhancement, comp-fuzzing

#2491 Create two UnitTestBot plugin versions for IC and IU
  .github/workflows/build-and-run-tests-from-branch.yml
  .github/workflows/publish-plugin-from-branch.yml
  .github/workflows/run-chosen-tests-from-branch.yml
  gradle.properties
  settings.gradle.kts
  utbot-framework/build.gradle
  utbot-instrumentation/build.gradle.kts
  utbot-intellij/build.gradle.kts
  utbot-rd/build.gradle
Labels: ctg-enhancement, lang-python, lang-javascript, comp-spring

#2503 Make thread stopping in `ThreadBasedExecutor` more safe
  utbot-core/src/main/kotlin/org/utbot/common/ThreadUtil.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2507 Use `JavaSerializer` for `StackTraceElement`
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/kryo/KryoHelper.kt
Labels: comp-instrumented-process, ctg-bug-fix

#2513 Corrects collecting annotated field models
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAbstractClassFieldManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgInjectingMocksFieldsManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/ClassFieldManagerFacade.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2504 Add support for @RequestHeader annotation
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2519 Add support for @CookieValue annotation
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2512 Let engine process `utContext` use Platform `ClassLoader`
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
Labels: comp-infrastructure, ctg-bug-fix

#2517 Improve `UtModel` construction
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/IterableConstructors.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
Labels: comp-instrumented-process, ctg-bug-fix

#2518 Correct casts for negative numbers and test file name for inner classes
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgJavaRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/language/JavaCgLanguageAssistant.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/language/KotlinCgLanguageAssistant.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/ClassNameUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/CodeLanguageUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/CodeGenerationController.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-js/src/main/kotlin/framework/codegen/JsCgLanguageAssistant.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
Labels: comp-codegen, ctg-bug-fix

#2509 Python fix and refactoring
  utbot-cli-python/build.gradle
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/Application.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/build.gradle.kts
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeSocketExecutor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCoverageReceiver.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/UtExecutorThread.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonTree.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/visitor/CgPythonRenderer.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
Labels: comp-codegen, ctg-refactoring, lang-python, ctg-bug-fix

#2526 Possible fix for incorrect location to create utbot-tests
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/ModuleUtils.kt
Labels: comp-ui, ctg-bug-fix

#2532 Save already created mock model in models to variables cache
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgStatementConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgStatementConstructor.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2529 Introduce fuzzing in Spring unit tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/ConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/JavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/custom/MockingJavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleApplicationContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleJavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/utils/ApplicationContextUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/utils/ConcreteExecutionContextUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/utils/JavaFuzzingContextUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtConcreteExecutionResultUtils.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SimpleUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/InstrumentationContextAwareValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/StateBeforeAwareIdGenerator.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ModelConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ValueConstructionPhase.kt
  utbot-instrumentation/src/test/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/BaseConstructorTest.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Primitives.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/InjectMocks.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/Mocks.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgStatementConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
Labels: ctg-enhancement, comp-fuzzing, comp-spring

#2537 Use getters and setters in java code generation
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/util/FieldIdUtil.kt
Labels: ctg-enhancement, comp-codegen

#2530 Add support of attributes annotations for @Controllers
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2536 Improve mock type inference in fuzzer
  gradle.properties
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SizeUtils.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/InstrumentationContextAwareValueConstructor.kt
  utbot-java-fuzzing/build.gradle.kts
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/Mocks.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/utils/TypeUtils.kt
Labels: ctg-enhancement, comp-fuzzing, comp-spring

#2546 Reword message for initial stage of test generation
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
Labels: ctg-enhancement, comp-ui, comp-ide

#2544 Models in stateBefore should be assembled in concrete executor
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtConcreteExecutionResultUtils.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2543 Add `utbot-spring-commons-shadow.jar` to engine process `utContext`
  utbot-framework/build.gradle
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-spring-commons/build.gradle.kts
Labels: ctg-bug-fix, comp-spring

#2541 Better method mutations in Spring fuzzing
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-test/src/test/kotlin/org/utbot/framework/modificators/UtBotFieldModificatorsTest.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Arrays.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Collections.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Enums.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/ModifyingWithMethodsProviderWrapper.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Others.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Primitives.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/ExecutablesAnalyzer.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/StatementsStorage.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/Transformers.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/UtBotFieldsModificatorsSearcher.kt
Labels: comp-fuzzing, ctg-bug-fix, comp-spring

#2551 Use some time compensation for dynamic classes transformation
  utbot-core/src/main/kotlin/org/utbot/common/StopWatch.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/agent/DynamicClassTransformer.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2555 Make `findEqualValueOfWellKnownType` catch exceptions
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
Labels: comp-instrumented-process, ctg-bug-fix

#2552 Make jar extraction multi-process safe
  utbot-core/src/main/kotlin/org/utbot/common/JarUtils.kt
Labels: comp-instrumented-process, ctg-bug-fix

#2550 Call `entityManager.flush()` on every `entityManager` usage and dynamically remove failing `UtStatementCallModel`s
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/mapper/UtModelDeepMapper.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/mapper/UtModelMapper.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/mapper/UtModelNoopMapper.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/mapper/UtModelSafeCastingCachingShallowMapper.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/mapper/Utils.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgMethodTestSet.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/Instrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/RemovingConstructFailsUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/InstrumentationContextAwareValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/StateBeforeAwareIdGenerator.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/InstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/context/SimpleInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ValueConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/InstrumentedProcess.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/generated/InstrumentedProcessModel.Generated.kt
  utbot-instrumentation/src/test/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/BaseConstructorTest.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/InstrumentedProcessModel.kt
Labels: ctg-enhancement, comp-codegen, comp-instrumented-process, comp-spring

#2563 Keep `thisInstance` modifications in controller-specific tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
Labels: ctg-bug-fix, comp-spring

#2556 Let engine `utContext.classLoader` fallback to UtBot own class path
  utbot-core/src/main/kotlin/org/utbot/common/FallbackClassLoader.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
Labels: comp-infrastructure, ctg-bug-fix

#2567 Fix unnecessary indexed field names (e.g. `entityManager4`)
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAbstractClassFieldManager.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2568 Recognise `javax.validation.constraints` validation library
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
Labels: ctg-enhancement, comp-spring

#2531 IntelliJ plugin UI tests correction for debug IDEA 2023.2
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/DialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaGradleFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/samples/CodeSamples.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/CreateProjects.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UnitTestBotActionTest.kt
Labels: ctg-qa, comp-ide

#2565 Extract option values from forEach loop
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SootUtils.kt
Labels: ctg-enhancement, spec-performance

#2558 Don't collect constants from every assignment statement
  utbot-framework/src/main/kotlin/org/utbot/fuzzer/FuzzerFunctions.kt
Labels: comp-fuzzing, ctg-bug-fix

#2548 Include utbot-executor and fix bugs
  settings.gradle.kts
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonGenerateTestsCommand.kt
  utbot-python-executor/.gitignore
  utbot-python-executor/build.gradle.kts
  utbot-python-executor/src/main/kotlin/org/utbot/python/UtbotExecutor.kt
  utbot-python-executor/src/main/python/utbot_executor/README.md
  utbot-python-executor/src/main/python/utbot_executor/pyproject.toml
  utbot-python-executor/src/main/python/utbot_executor/tests/__init__.py
  utbot-python-executor/src/main/python/utbot_executor/tests/pytest.ini
  utbot-python-executor/src/main/python/utbot_executor/tests/test_deep_serialization.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/__init__.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/__main__.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/__init__.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/config.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/deep_serialization.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/example.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/json_converter.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/memory_objects.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/test_json.json
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/deep_serialization/utils.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/example/__init__.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/example/example.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/example/my_func.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/executor.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/listener.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/memory_compressor.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/parser.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/ut_tracer.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/utils.py
  utbot-python-executor/src/main/resources/utbot_executor_version
  utbot-python-types/build.gradle.kts
  utbot-python/build.gradle.kts
  utbot-python/docs/CLI.md
  utbot-python/docs/python_packages.md
  utbot-python/samples/samples/collection/__init__.py
  utbot-python/samples/samples/collection/dicts.py
  utbot-python/samples/samples/collection/lists.py
  utbot-python/samples/samples/collection/recursive.py
  utbot-python/samples/samples/collection/sets.py
  utbot-python/samples/samples/collection/tuples.py
  utbot-python/samples/samples/collection/using_collections.py
  utbot-python/samples/samples/mathematics/__init__.py
  utbot-python/samples/samples/type_inference/annotations2.py
  utbot-python/samples/test_configuration.json
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/CodeEvaluationApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeSocketExecutor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCoverageReceiver.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialization/ExecutionRequestSerializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialization/ExecutionResultDeserializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialization/PythonObjectParser.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgMethodConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
Labels: ctg-refactoring, lang-python, ctg-bug-fix

#2569 Consider dynamically created mocks when pre minimizing fuzzer output and properly initialize @Mock fields
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/ClassFieldManagerFacade.kt
Labels: ctg-enhancement, comp-codegen, comp-minimizer, ctg-bug-fix, comp-spring
