Repository UnitTestBot/UTBotJava, pull requests merged in 2023-06, with the labels that each got.

#2236 Publish python-, js- and go-cli on GitHub Actions
  .github/workflows/build-and-run-tests.yml
  .github/workflows/publish-cli-from-branch.yml
  .github/workflows/publish-plugin-from-branch.yml
Labels: comp-cli, lang-python, lang-javascript, comp-github-action, lang-java, lang-go

#2250 Python small fixes
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonLanguageAssistant.kt
  utbot-python/samples/easy_samples/general.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/PythonObjectParser.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonTree.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/util/PythonUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/visitor/CgPythonRenderer.kt
Labels: comp-codegen, comp-ui, lang-python, ctg-bug-fix

#2255 Show `utbot-engine-current.log` in a separate tab in IDE when debugging any process
  .run/Listen for Engine Process.run.xml
  .run/Listen for Instrumented Process.run.xml
  .run/Listen for Spring Analyzer Process.run.xml
Labels: ctg-enhancement, comp-logging

#2187 test sets reconfigured #2169
  .github/workflows/build-and-run-tests-from-branch.yml
  .github/workflows/framework-tests-matrix.json
Labels: ctg-enhancement, comp-github-action

#2258 Correct Spring application instantiation approach
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringApplicationInstantiatorFacade.kt
Labels: ctg-enhancement, comp-spring

#2251 Introduce utbot-spring-commons-api module
  settings.gradle.kts
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-instrumentation/build.gradle.kts
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-spring-analyzer/build.gradle.kts
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzer/SpringApplicationAnalyzer.kt
  utbot-spring-commons-api/build.gradle.kts
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/context/ContextWrapper.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/ApplicationInstantiatorFacade.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/InstantiationSettings.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/repositoryWrapper/RepositoryInteraction.kt
  utbot-spring-commons/build.gradle.kts
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/context/SpringContextWrapper.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/environment/EnvironmentFactory.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringApplicationInstantiatorFacade.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringBootApplicationInstantiator.kt
Labels: ctg-enhancement, comp-instrumented-process, comp-spring

#2261 Support direct field accesses in call models
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/constructor/ValueConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/minimization/Minimization.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
Labels: comp-codegen, comp-symbolic-engine, ctg-refactoring, comp-spring

#2267 Properly use `ApplicationInstantiatorFacade` from `SpringApplicationAnalyzer`
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzer/SpringApplicationAnalyzer.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/ApplicationInstantiatorFacade.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/ConfiguredApplicationInstantiator.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/instantiator/SpringApplicationInstantiatorFacade.kt
Labels: ctg-bug-fix, comp-spring

#2268 Fix hasNumericOrEmptyPatch method
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/Version.kt
Labels: comp-ui, ctg-bug-fix

#2269 Bug fixes in CgAbstractSpringTestClassConstructor
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/SpringBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2271 Use one and modern Mockito version in whole project
  gradle.properties
  utbot-framework-test/build.gradle
  utbot-framework/build.gradle
  utbot-instrumentation/build.gradle.kts
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/ExternalLibraryDescriptors.kt
  utbot-junit-contest/build.gradle
  utbot-sample/build.gradle
  utbot-summary/build.gradle.kts
  utbot-testing/build.gradle
Labels: ctg-enhancement, comp-settings

#2256 Improve fuzzing for domain specific API
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/fuzzer/FuzzerFunctions.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Api.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Providers.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzer/AutowiredFuzzedType.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzer/FuzzedMethodDescription.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/FuzzerProperties.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/type/factories/FuzzedTypeFactory.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/type/factories/SimpleFuzzedTypeFactory.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/type/factories/SpringFuzzedTypeFactory.kt
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
Labels: ctg-enhancement, comp-fuzzing

#2264 Extend IntelliJ plugin UI tests
  utbot-intellij/readme.md
  utbot-intellij/src/test/kotlin/org/utbot/data/IdeaBuildSystem.kt
  utbot-intellij/src/test/kotlin/org/utbot/data/JDKVersion.kt
  utbot-intellij/src/test/kotlin/org/utbot/data/RunInfo.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/DialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/NewProjectDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/UnitTestBotDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/WarningDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaGradleFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaIntelliJFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaMavenFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/samples/CodeSamples.kt
  utbot-intellij/src/test/kotlin/org/utbot/steps/IDESteps.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/BaseTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/CreateProjects.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UTBotTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UnitTestBotActionTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/utils/RemoteRobotExtension.kt
Labels: ctg-qa

#2275 Use Mockito version compatible with Java 8
  gradle.properties
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/ExternalLibraryDescriptors.kt
Labels: comp-settings, ctg-bug-fix

#2270 Another way to process failures in instrumented process not connected to concrete execution
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/UtExecutionResult.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ValueConstructionPhase.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/TagGenerator.kt
Labels: ctg-enhancement, comp-fuzzing, comp-instrumented-process, comp-spring

#2279 Replace all Spring specific models with models expressed in terms of `UtSpringContextModel`
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SignatureUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/fields/ExecutionStateAnalyzer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/minimization/Minimization.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtModelVisitor.kt
  utbot-instrumentation/build.gradle.kts
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/mock/SpringInstrumentationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/Security.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/context/ContextWrapper.kt
Labels: ctg-refactoring, comp-spring

#2287 Fix finding utbot-instrumentation-shadow.jar
  utbot-instrumentation-tests/build.gradle
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/InstrumentedProcess.kt
Labels: comp-instrumented-process, ctg-bug-fix

#2285 Support using identifiers generated by database as method arguments
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Collections.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Field.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Utils.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SavedEntity.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
Labels: ctg-enhancement, comp-fuzzing, comp-spring

#2248 Introduce autowired class variables
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2293 Fix `spring-analyzer` working directory
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/process/SpringAnalyzerProcess.kt
Labels: ctg-bug-fix, comp-spring

#2290 Fix tests rendering `UndeclaredThrowableException` instead of `InvalidDataAccessApiUsageException`
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/repositoryWrapper/RepositoryWrapperInvocationHandler.kt
Labels: ctg-bug-fix, comp-spring

#2288 Fix minimization missing last empty branch
  utbot-framework/src/main/kotlin/org/utbot/framework/minimization/Minimization.kt
Labels: comp-minimizer, ctg-bug-fix

#2296 Improve mutation API in Fuzzing Platform
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Api.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Configuration.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Mutations.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/demo/HttpRequest.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/demo/JsonFuzzing.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/seeds/BitVectorValue.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/seeds/IEEE754Value.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/seeds/KnownValue.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/seeds/RegexValue.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/seeds/StringValue.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Primitives.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/BoolValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/IntValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/StrValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/utils/SummaryGeneration.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/value/UndefValue.kt
Labels: ctg-refactoring, comp-fuzzing

#2297 Lower mockito version
  gradle.properties
Labels: comp-settings, ctg-bug-fix

#2298 Support fuzzing for regular expressions in Python
  utbot-python/samples/easy_samples/regex.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/StrValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/utils/StringUtils.kt
Labels: ctg-enhancement, comp-fuzzing, lang-python

#2286 Go. Fix bug with missing or empty parameter name
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoTestCasesCodeGenerator.kt
Labels: ctg-bug-fix, lang-go

#2295 fix plugin name #2289
  .github/workflows/publish-plugin-from-branch.yml
Labels: ctg-bug, comp-infrastructure, comp-github-action

#2274 Automatically detect the names of tables and repositories
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/SpringBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/ConcreteExecutor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/rd/generated/InstrumentedProcessModel.Generated.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/AccessibleTypesAnalyzer.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SpringBeanValueProvider.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/InstrumentedProcessModel.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/context/ContextWrapper.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/repositoryWrapper/RepositoryInteraction.kt
  utbot-spring-commons/build.gradle.kts
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/context/RepositoryUtils.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/context/SpringContextWrapper.kt
Labels: ctg-enhancement, comp-instrumented-process, comp-spring

#2299 Test generation should be forbidden for JDK 17+ #2210
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, comp-ide, lang-java, ctg-bug-fix

#2303 Add test module dependencies to classpath for Spring projects
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
Labels: ctg-enhancement, comp-spring

#2306 optimize workflow #2305
  .github/workflows/build-and-run-tests.yml
  .github/workflows/publish-cli-image-from-branch.yml
Labels: ctg-enhancement, ctg-refactoring, comp-github-action

#2282 Exclude third-party libs from coverage statistics
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/CoverageApi.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/minimization/Minimization.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzer/UtFuzzedExecution.kt
  utbot-js/src/main/kotlin/framework/api/js/JsUtFuzzedExecution.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonApi.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestSpecificTestCaseGenerator.kt
Labels: ctg-enhancement, comp-minimizer, comp-spring

#2309 Autowire not applicationContext but actual variables
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgStatementConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2301 Select only raw-strings for regex fuzzing and filter blank strings
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/StrValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/utils/StringUtils.kt
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#2300 Support `__setstate__` for custom state of python objects
  utbot-python/samples/easy_samples/setstate_test.py
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/PythonObjectParser.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonTree.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgVariableConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ReduceValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
Labels: ctg-enhancement, lang-python

#2302 Mypy fixes
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonGenerateTestsCommand.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/samples/easy_samples/test_package/__init__.py
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/TypeInferenceProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/mypy/RunMypy.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/mypy/Utils.kt
Labels: lang-python, ctg-bug-fix

#2312 Automatically detect `@GeneratedValue` fields
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/SavedEntity.kt
Labels: ctg-enhancement, comp-spring

#2313 Improve autowired models naming
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2314 Use `ClassId` in `UtClassRefModel`
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/constructor/ValueConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtModelFactory.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2310 Improve dependent beans calculation
  utbot-core/src/main/kotlin/org/utbot/common/ClassLoaderUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/CoverageApi.kt
  utbot-framework-test/src/test/kotlin/org/utbot/sarif/SarifReportTest.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/sarif/SarifReport.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/SpringUtExecutionInstrumentation.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Statistics.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/context/ContextWrapper.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/instantiator/InstantiationSettings.kt
  utbot-spring-commons/build.gradle.kts
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/context/SpringContextWrapper.kt
Labels: ctg-enhancement, comp-instrumented-process, comp-spring

#2316 Do fuzzer improvements needed for integration test generation
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Field.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Primitives.kt
Labels: ctg-enhancement, comp-fuzzing, comp-spring

#2319 Fuzzer should create object without any modifications
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Mutations.kt
  utbot-fuzzing/src/test/kotlin/org/utbot/fuzzing/FuzzerSmokeTest.kt
Labels: comp-fuzzing, ctg-bug-fix

#2281 Add specific annotations for Spring integration testing
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/SpringBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgStatementConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/util/DslUtil.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgStatementConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsTestFrameworkManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgMethodConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgStatementConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonTestFrameworkManager.kt
Labels: ctg-enhancement, comp-codegen

#2324 Add exception serializing fallback that only considers `message`, `stackTrace`, and `cause`
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/JavaSerializerWrapper.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/KryoHelper.kt
Labels: ctg-enhancement, comp-instrumented-process, ctg-bug-fix, comp-spring

#2315 Limit model construction depth
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
Labels: ctg-enhancement, comp-instrumented-process, comp-spring

#2329 Correct processing some failures in concrete executor
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/UtExecutionResult.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring
