Repository UnitTestBot/UTBotJava, pull requests merged in 2023-09, with the labels that each got.

#2570 Extract `utbot-spring-framework` module from `utbot-framework`
  settings.gradle.kts
  utbot-core/src/main/kotlin/org/utbot/common/DynamicProperties.kt
  utbot-framework/build.gradle
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/MockitoBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/UtilMethodBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ConstructorUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ututils/UtilClassKind.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/DependencyPatterns.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessTask.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij/build.gradle.kts
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/LibraryMatcher.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
  utbot-spring-framework/build.gradle.kts
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/domain/SpringModule.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/MockitoAnnotationBuiltins.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/SpyFrameworkManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMockMvcResultActionsAssertConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAbstractClassFieldManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgAutowiredFieldsManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgClassFieldManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgInjectingMocksFieldsManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgMockedFieldsManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgPersistenceContextFieldsManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgSpiedFieldsManager.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/ClassFieldManagerFacade.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/MockitoInjectionUtils.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/ModelGroupsProvider.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringNonNullSpeculator.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringTypeReplacer.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/SpringDependencyPatterns.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/process/SpringAnalyzerTask.kt
  utbot-spring-test/build.gradle
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/SpringNoConfigUtValueTestCaseChecker.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/Configurations.kt
Labels: ctg-refactoring, comp-spring

#2578 Avoid resetting repository beans
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
Labels: comp-instrumented-process, ctg-bug-fix, comp-spring

#2574 Rerun Spring integration tests after minimization with full context reset between tests
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/ConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/custom/CoverageFilteringConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/custom/RerunningConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/UtModelConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ModelConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/spring/SpringUtExecutionInstrumentation.kt
  utbot-spring-commons-api/src/main/kotlin/org/utbot/spring/api/SpringApi.kt
  utbot-spring-commons/src/main/kotlin/org/utbot/spring/SpringApiImpl.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestSpecificTestCaseGenerator.kt
Labels: ctg-enhancement, comp-instrumented-process, comp-spring

#2596 Extract tests on Exceptions into examples-part10
  .github/workflows/framework-tests-matrix.json
Labels: comp-infrastructure, ctg-qa, ctg-bug-fix

#2590 Sort tests by estimated size and exception type
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SizeUtils.kt
Labels: ctg-enhancement, comp-codegen

#2587 Unwrap `NestedServletException` in codegen
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringMethodConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2600 Correctly handle patch versions containing dots
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/Version.kt
Labels: comp-ui, ctg-bug-fix, comp-spring

#2576 Do necessary down casts when generating method calls
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ConstructorUtils.kt
Labels: comp-codegen, ctg-bug-fix

#2603 Use `BuiltinMethodId` for `openMocksMethodId`
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/UtilMethodBuiltins.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2605 Configure fallback from controller-specific integration tests to regular integration tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/ConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/JavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/custom/MockingJavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleConcreteExecutionContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleJavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/utils/ConcreteExecutionContextUtils.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
Labels: ctg-enhancement, comp-fuzzing

#2561 Support mock strategies and type replacement in Spring unit test fuzzing
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/TypeReplacer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/custom/MockingJavaFuzzingContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleTypeReplacer.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Providers.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/decorators/ModifyingWithMethodsProviderWrapper.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/decorators/PropertyPreservingValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/decorators/SeedFilteringValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/decorators/TypeFilteringValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/decorators/TypeReplacingValueProvider.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/decorators/ValueProviderDecorator.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/InjectMocks.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/valid/ValidEntity.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestJavaFuzzingContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringTypeReplacer.kt
Labels: ctg-enhancement, comp-fuzzing, comp-spring

#2606 Support for both Cookie libraries for different versions of Spring
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
Labels: comp-codegen, ctg-bug-fix, comp-spring

#2610 Add more correct type resolving for collections and maps
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/providers/Collections.kt
  utbot-java-fuzzing/src/test/java/org/utbot/fuzzing/samples/ConcreateMap.java
  utbot-java-fuzzing/src/test/java/org/utbot/fuzzing/samples/ConcreteList.java
  utbot-java-fuzzing/src/test/kotlin/org/utbot/fuzzing/JavaValueProviderTest.kt
Labels: comp-fuzzing, ctg-bug-fix

#2618 Add disclaimer of generating Spring integration tests
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: ctg-enhancement, comp-ui, comp-spring

#2620 Add `--add-opens java.base/java.time`
  .github/workflows/collect-statistics.yml
  build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/OpenModulesContainer.kt
  utbot-junit-contest/build.gradle
Labels: comp-instrumented-process, ctg-bug-fix

#2615 Fix bug with python interpreter detection
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
Labels: comp-ui, lang-python, ctg-bug-fix

#2617 Improve detection of NPEs caused by this instance fields being null in Spring unit tests
  utbot-framework-api/src/main/kotlin/org/utbot/framework/TrustedPackages.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/SpringModelUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/NonNullSpeculator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/simple/SimpleNonNullSpeculator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/utils/ApplicationContextUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/utils/ConcreteExecutionContextUtils.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/JavaLangObject.kt
  utbot-java-fuzzing/src/main/kotlin/org/utbot/fuzzing/spring/unit/InjectMocks.kt
  utbot-modificators-analyzer/src/main/kotlin/org/utbot/modifications/ExecutableAnalyzer.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringIntegrationTestConcreteExecutionContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringNonNullSpeculator.kt
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/ServiceOfBeansWithSameType.java
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/twoAndMoreBeansForOneType/ServiceOfBeansWithSameTypeTest.kt
Labels: ctg-enhancement, comp-symbolic-engine, comp-fuzzing, comp-spring

#2624 Automatically install `spring-security-test` when `spring-security-core` is present
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/ExternalLibraryDescriptors.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/domain/SpringModule.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/SpringDependencyPatterns.kt
Labels: ctg-enhancement, comp-ui, comp-spring
