Repository UnitTestBot/UTBotJava, pull requests merged in 2023-02, with the labels that each got.

#1584 Test framework installation before test generation #1570
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonGenerateTestsCommand.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogWindow.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonTestsModel.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/Utils.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonDomain.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TemporaryFileManager.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/DialogWindowUtils.kt
Labels: ctg-enhancement, comp-ui, lang-python

#1578 Rewrite logic with system paths and imports in python
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/Utils.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonEvaluation.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/visitor/CgPythonRenderer.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/utils/StringUtils.kt
Labels: ctg-refactoring, lang-python, ctg-bug-fix

#1762 Add constraints to the start line field in SARIF
  utbot-framework/src/main/kotlin/org/utbot/sarif/DataClasses.kt
  utbot-framework/src/main/kotlin/org/utbot/sarif/SarifReport.kt
Labels: comp-sarif, ctg-bug-fix

#1766 Npe fix in Instrumented Process
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PostprocessingPhase.kt
Labels: comp-instrumented-process

#1767 Fix broken summaries JavaDoc rendering
  utbot-sample/src/main/java/org/utbot/examples/controlflow/Conditions.java
  utbot-summary-tests/src/test/kotlin/examples/controlflow/SummaryConditionsTest.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/ast/JimpleToASTMap.kt
Labels: comp-codegen, comp-summaries, ctg-bug-fix

#1768 Implement properly streams closure after running cmd in JavaScript
  utbot-cli-js/src/main/kotlin/org/utbot/cli/js/JsRunTestsCommand.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/Utils.kt
  utbot-js/src/main/kotlin/api/JsUtModelConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgMethodConstructor.kt
  utbot-js/src/main/kotlin/service/BasicCoverageService.kt
  utbot-js/src/main/kotlin/service/FastCoverageService.kt
  utbot-js/src/main/kotlin/service/TernService.kt
  utbot-js/src/main/kotlin/utils/JsCmdExec.kt
Labels: lang-javascript, ctg-bug-fix

#1761 Taint analysis configuration format
  docs/TaintAnalysis.md
Labels: ctg-documentation, comp-sarif

#1596 Fixed test generation for paths with spaces in JavaScript
  utbot-cli-js/src/main/kotlin/org/utbot/cli/js/JsCoverageCommand.kt
  utbot-cli-js/src/main/kotlin/org/utbot/cli/js/JsRunTestsCommand.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogWindow.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/NycSourceFileChooser.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/Utils.kt
  utbot-js/src/main/kotlin/parser/JsFuzzerAstVisitor.kt
  utbot-js/src/main/kotlin/parser/JsParserUtils.kt
  utbot-js/src/main/kotlin/service/BasicCoverageService.kt
  utbot-js/src/main/kotlin/service/TernService.kt
  utbot-js/src/main/kotlin/settings/JsPackagesSettings.kt
  utbot-js/src/main/kotlin/utils/JsOsUtils.kt
Labels: lang-javascript, ctg-bug-fix

#1771 Fixes and logging
  utbot-rd/src/main/rdgen/org/utbot/rd/models/CSharpModel.kt
  utbot-rider/src/dotnet/UtBot/UtBot.Rd/Generated/VSharpModel.Generated.cs
  utbot-rider/src/dotnet/UtBot/UtBot.VSharp/VSharpMain.cs
  utbot-rider/src/dotnet/UtBot/UtBot/ProcessWithRdServer.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestBuilder.cs
Labels: comp-rider-plugin

#1779 Fix switch summary content & add extra summary test
  utbot-sample/src/main/java/org/utbot/examples/controlflow/Switch.java
  utbot-summary-tests/src/test/kotlin/examples/controlflow/SummarySwitchTest.kt
  utbot-summary-tests/src/test/kotlin/math/SummaryIntMathPowTest.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/AbstractTextBuilder.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/ast/JimpleToASTMap.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/name/NodeConvertor.kt
Labels: comp-codegen, comp-summaries, ctg-bug-fix

#1782 Fix missing info in summaries
  utbot-framework-test/src/test/kotlin/org/utbot/examples/enums/ComplexEnumExamplesTest.kt
  utbot-summary-tests/src/test/kotlin/examples/collections/SummaryListWrapperReturnsVoidTest.kt
  utbot-summary-tests/src/test/kotlin/examples/enums/SummaryComplexEnumExampleTest.kt
  utbot-summary-tests/src/test/kotlin/examples/mock/SummaryCommonMocksExample.kt
  utbot-summary-tests/src/test/kotlin/examples/recursion/SummaryRecursionTest.kt
  utbot-summary-tests/src/test/kotlin/math/SummaryIntMathLogTest.kt
  utbot-summary-tests/src/test/kotlin/math/SummaryOfMathTest.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/tag/StatementTreeBuilder.kt
Labels: comp-codegen, comp-summaries, ctg-bug-fix

#1783 Refactor CgTestClassConstructor for Spring properties
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgFieldStateManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgComponents.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSimpleTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgStatementConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgTestClassConstructorBase.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgStatementConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgStatementConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgTestClassConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgVariableConstructor.kt
Labels: comp-codegen, ctg-refactoring

#1784 Fix compilation after merging update python into the main
  utbot-js/src/main/kotlin/codegen/JsCodeGenerator.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgStatementConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
Labels: ctg-bug-fix

#1781 Add Tern auto-installation for JavaScript
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/NycSourceFileChooser.kt
  utbot-js/src/main/kotlin/settings/JsPackagesSettings.kt
Labels: comp-ui, lang-javascript, ctg-bug-fix

#1785 Add support for Artificial Errors in Summaries
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/ArtificialErrors.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/math/OverflowAsErrorTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SootUtils.kt
  utbot-summary-tests/src/test/kotlin/math/SummaryOverflowExamples.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/classic/symbolic/SimpleCommentBuilder.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/classic/symbolic/SimpleSentenceBlock.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/customtags/CustomJavaDocTagProvider.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/customtags/symbolic/CustomJavaDocComment.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/customtags/symbolic/CustomJavaDocCommentBuilder.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/name/NameUtil.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/name/SimpleNameBuilder.kt
Labels: comp-codegen, comp-summaries, ctg-bug-fix

#1790 Corrected UtLambdaModel processing in AssembleModelGenerator
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
Labels: comp-symbolic-engine, ctg-bug-fix

#1787 General JavaScript module update
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-js/build.gradle.kts
  utbot-js/samples/bitOperators.js
  utbot-js/samples/commonIfStatement.js
  utbot-js/samples/commonLoops.js
  utbot-js/samples/commonRecursion.js
  utbot-js/samples/commonString.js
  utbot-js/samples/functionsThrowExceptionsInRow.js
  utbot-js/samples/scenarioMultyClassNoTopLevel.js
  utbot-js/samples/scenarioObjectParameter.js
  utbot-js/samples/scenarioStaticMethod.js
  utbot-js/samples/scenarioThrowError.js
  utbot-js/src/main/kotlin/api/JsTestGenerator.kt
  utbot-js/src/main/kotlin/api/JsUtModelConstructor.kt
  utbot-js/src/main/kotlin/framework/api/js/JsApi.kt
  utbot-js/src/main/kotlin/framework/api/js/util/JsIdUtil.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzer.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzerApi.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzing.kt
  utbot-js/src/main/kotlin/fuzzer/providers/BoolValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/JsConstantsModelProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/JsMultipleTypesModelProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/JsObjectModelProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/JsPrimitivesModelProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/JsStringModelProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/JsUndefinedModelProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/NumberValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/ObjectValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/StringValueProvider.kt
  utbot-js/src/main/kotlin/parser/JsFuzzerAstVisitor.kt
  utbot-js/src/main/kotlin/parser/JsParserUtils.kt
  utbot-js/src/main/kotlin/service/BasicCoverageService.kt
  utbot-js/src/main/kotlin/service/CoverageService.kt
  utbot-js/src/main/kotlin/service/CoverageServiceProvider.kt
  utbot-js/src/main/kotlin/service/FastCoverageService.kt
  utbot-js/src/main/kotlin/service/ICoverageService.kt
  utbot-js/src/main/kotlin/service/InstrumentationService.kt
  utbot-js/src/main/kotlin/service/ServiceContext.kt
  utbot-js/src/main/kotlin/service/TernService.kt
  utbot-js/src/main/kotlin/settings/JsTestGenerationSettings.kt
  utbot-js/src/main/kotlin/utils/CoverageData.kt
  utbot-js/src/main/kotlin/utils/JsClassConstructors.kt
  utbot-js/src/main/kotlin/utils/ResultData.kt
  utbot-js/src/main/kotlin/utils/ValueUtil.kt
Labels: ctg-enhancement, ctg-refactoring, comp-fuzzing, lang-javascript

#1795 Assemble constModel in UtArrayModel if required
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
Labels: comp-symbolic-engine, ctg-bug-fix

#1791 Introduce Spring codegen instances and collect types of mocked class variables
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SimpleTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/TestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSimpleTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgTestClassConstructorBase.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgTestClassConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#1797 Remove name generation logic from CgVariableConstructor
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSimpleTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: comp-codegen, ctg-refactoring

#1800 Introduce a draft implementation of CgSpringTestClassConstructor
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/Builders.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSimpleTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgTestClassConstructorBase.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#1770 Add taint analysis configuration parser
  gradle.properties
  utbot-framework-test/build.gradle
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/TaintAnalysisConfigurationParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/constants/Constants.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/ConditionParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/ConfigurationParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/MethodArgumentParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/RuleParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/SignatureParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintEntityParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintMarkParserTest.kt
  utbot-framework/build.gradle
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/TaintAnalysisConfigurationParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/model/DataClasses.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/ConditionParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/ConfigurationParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/Constants.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/MethodArgumentParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/RuleParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/SignatureParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintEntityParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintMarkParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/Validation.kt
Labels: ctg-enhancement, comp-taint-analysis

#1801 Fix Go imports
  utbot-go/go-samples/go.mod
  utbot-go/go-samples/simple/supported_types.go
  utbot-go/go-samples/simple/supported_types_go_ut_test.go
  utbot-go/src/main/kotlin/org/utbot/go/GoEngine.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/GoTypesApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/GoUtFunctionApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/GoUtModelsApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/util/GoTypesApiUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/util/GoUtModelsApiUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/framework/api/go/GoApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/fuzzer/providers/GoArrayValueProvider.kt
  utbot-go/src/main/kotlin/org/utbot/go/fuzzer/providers/GoStructValueProvider.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/AnalysisResults.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/GoSourceCodeAnalyzer.kt
  utbot-go/src/main/kotlin/org/utbot/go/imports/GoImportsResolver.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoCodeGenerationUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoFileCodeBuilder.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoTestCasesCodeGenerator.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoUtModelToCodeConverter.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoCodeTemplates.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoWorker.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoWorkerCodeGenerationHelper.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/RawExecutionResults.kt
  utbot-go/src/main/resources/go_source_code_analyzer/analysis_results.go
  utbot-go/src/main/resources/go_source_code_analyzer/analyzer_core.go
  utbot-go/src/main/resources/go_source_code_analyzer/function_modifier.go
  utbot-go/src/main/resources/go_source_code_analyzer/imports_collector.go
  utbot-go/src/main/resources/go_source_code_analyzer/main.go
Labels: ctg-bug-fix, lang-go

#1808 Fix IU plugin compilation
  utbot-js/src/main/kotlin/codegen/JsCodeGenerator.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-js/src/main/kotlin/service/BasicCoverageService.kt
  utbot-js/src/main/kotlin/service/FastCoverageService.kt
Labels: comp-codegen, lang-javascript, ctg-bug-fix

#1816 Transfer Spring application data from UI to Engine
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestFlow.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
Labels: ctg-enhancement, comp-symbolic-engine, comp-spring

#1719 Cannot get resident body for phantom method on io.seata.core.rpc.nett…
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
Labels: comp-symbolic-engine, ctg-bug-fix

#1814 Review UnitTestBot Go README and Developer guide for linguistic and formatting bugs
  utbot-go/README.md
  utbot-go/docs/DEVELOPERS_GUIDE.md
  utbot-go/docs/DEVELOPER_GUIDE.md
Labels: ctg-documentation, comp-fuzzing, lang-go

#1817 Different fixes relatated to mypy
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/mypy/RunMypy.kt
  utbot-python/src/main/resources/preprocessed_values.json
  utbot-python/src/main/resources/requirements.txt
  utbot-python/src/test/resources/annotation_sample.json
  utbot-python/src/test/resources/imports_sample.json
  utbot-python/src/test/resources/subtypes_sample.json
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1839 Restore flow with Fuzzing
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
Labels: comp-fuzzing, ctg-bug-fix

#1840 Fix NoClassDefFoundError in Kotlin projects #1793
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/util/KtLightMethodUtil.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/util/PsiClassHelper.kt
Labels: ctg-bug-fix

#1841 Fixed case with infinite recursion in TypeAlias
  utbot-python/samples/easy_samples/boruvka.py
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonType.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonTypeAPI.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonTypeComparison.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonTypeConstraintPropagation.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/test.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/mypy/MypyAnnotations.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/mypy/MypyStorage.kt
  utbot-python/src/main/resources/requirements.txt
  utbot-python/src/test/kotlin/org/utbot/python/newtyping/mypy/MypyStorageKtTest.kt
  utbot-python/src/test/resources/annotation_sample.json
  utbot-python/src/test/resources/boruvka.json
  utbot-python/src/test/resources/imports_sample.json
  utbot-python/src/test/resources/subtypes_sample.json
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1786 Review InterProcessLogging.md for linguistic and formatting bugs
  docs/InterProcessLogging.md
Labels: ctg-documentation, comp-logging

#1796 Review InstrumentedProcessAPI doc for linguistic and formatting bugs
  docs/ResultAndErrorHandlingApiOfTheInstrumentedProcess.md
Labels: ctg-documentation, comp-instrumented-process

#1846 Fixed test generation for generics
  utbot-python/samples/easy_samples/generics.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/UTPythonAPI.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeExecutorImpl.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ReduceValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/TypeAliasValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonTypeStorage.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/TypeInferenceProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/TypeCandidateGeneration.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/test.kt
  utbot-python/src/test/kotlin/org/utbot/python/newtyping/mypy/MypyStorageKtTest.kt
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1848 Python plugin fixes
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogWindow.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonLanguageAssistant.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonTestsModel.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/Utils.kt
  utbot-python/samples/easy_samples/general.py
  utbot-python/samples/easy_samples/sample_classes.py
  utbot-python/samples/easy_samples/subtypes.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/ast/test.kt
Labels: comp-ui, lang-python, ctg-bug-fix

#1847 Added division of timeout for several function
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1854 Fixed incorrect python object name
  utbot-python/src/main/resources/requirements.txt
Labels: comp-codegen, lang-python, ctg-bug-fix

#1835 Render setUp and tearDown for Spring testing
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/UtilMethodBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgAbstractRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgJavaRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgKotlinRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgVisitor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringTestClassConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/JsDomain.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/visitor/CgJsRenderer.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonDomain.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/visitor/CgPythonRenderer.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#1853 Add #region name for generated Python tests
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
Labels: comp-summaries, lang-python, ctg-bug-fix

#1855 Fixed problem with import of return value module
  utbot-python/src/main/resources/requirements.txt
Labels: comp-codegen, lang-python, ctg-bug-fix

#1843 Added python function name to logging (#1842)
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
Labels: ctg-refactoring, comp-fuzzing, lang-python

#1858 Fix reports generation for Spring classes
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-intellij/src/main/resources/bundles/UtbotBundle.properties
Labels: comp-codegen, ctg-bug-fix, comp-spring

#1852 UnitTestBot Go. Constants extraction
  utbot-go/src/main/kotlin/org/utbot/go/GoEngine.kt
  utbot-go/src/main/kotlin/org/utbot/go/GoLanguage.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/GoUtFunctionApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/util/GoTypesApiUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/fuzzer/providers/GoConstantValueProvider.kt
  utbot-go/src/main/kotlin/org/utbot/go/fuzzer/providers/GoPrimitivesValueProvider.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/AnalysisResults.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/GoSourceCodeAnalyzer.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/AbstractGoUtTestsGenerationController.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/GoTestCasesGenerator.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/RawExecutionResults.kt
  utbot-go/src/main/resources/go_source_code_analyzer/analysis_results.go
  utbot-go/src/main/resources/go_source_code_analyzer/analyzer_core.go
  utbot-go/src/main/resources/go_source_code_analyzer/constant_extractor.go
Labels: ctg-enhancement, lang-go

#1865 Fix internal UTBot timeout exception rendering in summaries
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/ArtificialErrors.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/ThrowableUtils.kt
  utbot-sample/src/main/java/org/utbot/examples/exceptions/ExceptionExamples.java
  utbot-summary-tests/src/test/kotlin/examples/exceptions/SummaryExceptionExampleTest.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/classic/symbolic/SimpleCommentBuilder.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/customtags/symbolic/CustomJavaDocCommentBuilder.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/name/NameUtil.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/name/SimpleNameBuilder.kt
Labels: comp-summaries, ctg-bug-fix

#1851 Go plugin fixes
  utbot-intellij-go/src/main/kotlin/org/utbot/intellij/plugin/language/go/GoLanguageAssistant.kt
  utbot-intellij-go/src/main/kotlin/org/utbot/intellij/plugin/language/go/generator/GoUtTestsDialogProcessor.kt
  utbot-intellij-go/src/main/kotlin/org/utbot/intellij/plugin/language/go/models/GenerateGoTestsModel.kt
  utbot-intellij-go/src/main/kotlin/org/utbot/intellij/plugin/language/go/ui/GenerateGoTestsDialogWindow.kt
Labels: ctg-enhancement, ctg-bug-fix, lang-go

#1837 try to build ultimate plugin each time on pr event #1836
  .github/workflows/build-and-run-tests.yml
  .github/workflows/publish-plugin-and-cli-from-branch.yml
  .github/workflows/publish-plugin-and-cli.yml
Labels: ctg-enhancement, comp-github-action, lang-java

#1871 Add @JsonIgnore to the allResults field in SARIF
  utbot-framework/src/main/kotlin/org/utbot/sarif/DataClasses.kt
Labels: comp-sarif, ctg-bug-fix
