Repository UnitTestBot/UTBotJava, pull requests merged in 2023-03, with the labels that each got.

#1868 UnitTestBot Go. Slices support
  utbot-go/README.md
  utbot-go/go-samples/simple/samples.go
  utbot-go/go-samples/simple/samples_go_ut_test.go
  utbot-go/go-samples/simple/supported_types.go
  utbot-go/go-samples/simple/supported_types_go_ut_test.go
  utbot-go/src/main/kotlin/org/utbot/go/GoLanguage.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/GoTypesApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/GoUtModelsApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/util/GoTypesApiUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/util/GoUtModelsApiUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/fuzzer/providers/GoSliceValueProvider.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/AnalysisResults.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoUtModelToCodeConverter.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoCodeTemplates.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/RawExecutionResults.kt
  utbot-go/src/main/resources/go_source_code_analyzer/analysis_results.go
  utbot-go/src/main/resources/go_source_code_analyzer/analyzer_core.go
Labels: ctg-enhancement, lang-go

#1884 Python UI fixes
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogWindow.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/Settings.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/util/UtSettingsHelper.kt
Labels: ctg-enhancement, comp-ui, lang-python

#1885 Use deep equality for mock results
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
Labels: comp-codegen, ctg-bug-fix

#1880 Removed unnecessary mock counter and switch during constructors mocking
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgJavaRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
Labels: ctg-enhancement, comp-codegen

#1844 Socket connection in python fuzzing
  utbot-python/build.gradle.kts
  utbot-python/samples/easy_samples/annotation_tests.py
  utbot-python/samples/easy_samples/boruvka.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/UTPythonAPI.kt
  utbot-python/src/main/kotlin/org/utbot/python/code/PythonObjectDeserializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/CodeEvaluationApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/EvaluationCache.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeExecutorImpl.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeSocketExecutor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorker.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/ExecutionRequestSerializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/ExecutionResultDeserializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/PythonObjectParser.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonTree.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/util/PythonIdUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/util/PythonUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ReduceValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/StrValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/BaselineAlgorithm.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/Structures.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/utils/Utils.kt
  utbot-python/src/main/resources/preprocessed_values.json
  utbot-python/src/main/resources/requirements.txt
Labels: ctg-refactoring, comp-fuzzing, lang-python

#1890 Fix python `sys.path` collecting algorithm
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/Utils.kt
Labels: comp-codegen, lang-python, ctg-bug-fix

#1895 Go. Use coverage to stop fuzzing and speed up fuzzing
  utbot-go/src/main/kotlin/org/utbot/go/GoEngine.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/AbstractGoUtTestsGenerationController.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/GoTestCasesGenerator.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/GoUtTestsGenerationConfig.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoCodeTemplates.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoWorker.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoWorkerCodeGenerationHelper.kt
  utbot-go/src/main/resources/go_source_code_analyzer/function_modifier.go
Labels: ctg-enhancement, lang-go

#1897 Fix `builtins.function` and functions without arguments
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/resources/requirements.txt
Labels: comp-codegen, lang-python, ctg-bug-fix

#1891 Refactoring the npm installation process for JavaScript
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/NycSourceFileChooser.kt
  utbot-js/src/main/kotlin/api/JsTestGenerator.kt
  utbot-js/src/main/kotlin/service/PackageJsonService.kt
  utbot-js/src/main/kotlin/service/ServiceContext.kt
  utbot-js/src/main/kotlin/settings/JsPackagesSettings.kt
  utbot-js/src/main/kotlin/settings/JsTestGenerationSettings.kt
Labels: comp-ui, comp-infrastructure, lang-javascript, ctg-bug-fix

#1901 Fix activation of UTBot action for JavaScript files
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsLanguageAssistant.kt
Labels: comp-ui, lang-javascript, ctg-bug-fix

#1907 Fix non-indexed test files for JavaScript
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
Labels: comp-ui, lang-javascript, ctg-bug-fix

#1899 Fix problem with objects with invalid repr
  utbot-python/src/main/resources/requirements.txt
Labels: lang-python, ctg-bug-fix

#1900 Remove old fuzzer dependencies from JavaScript module
  utbot-js/src/main/kotlin/api/JsTestGenerator.kt
  utbot-js/src/main/kotlin/api/JsUtModelConstructor.kt
  utbot-js/src/main/kotlin/framework/api/js/JsApi.kt
  utbot-js/src/main/kotlin/framework/api/js/JsUtFuzzedExecution.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzerApi.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzing.kt
  utbot-js/src/main/kotlin/fuzzer/providers/BoolValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/NumberValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/ObjectValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/StringValueProvider.kt
  utbot-js/src/main/kotlin/parser/JsFuzzerAstVisitor.kt
  utbot-js/src/main/kotlin/parser/JsParserUtils.kt
  utbot-js/src/main/kotlin/service/CoverageServiceProvider.kt
Labels: ctg-refactoring, comp-fuzzing, lang-javascript

#1893 Update time management of python test generation
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/TypeInferenceAPI.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/BaselineAlgorithm.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TestGenerationLimitManager.kt
Labels: ctg-refactoring, comp-infrastructure, comp-fuzzing, lang-python

#1911 Go. Fix tests generation for functions with infinity loop
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/AnalysisResults.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/GoSourceCodeAnalyzer.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/AbstractGoUtTestsGenerationController.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/GoTestCasesGenerator.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoFileCodeBuilder.kt
  utbot-go/src/main/kotlin/org/utbot/go/simplecodegeneration/GoTestCasesCodeGenerator.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoCodeTemplates.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoWorkerCodeGenerationHelper.kt
  utbot-go/src/main/resources/go_source_code_analyzer/analysis_results.go
  utbot-go/src/main/resources/go_source_code_analyzer/analyzer_core.go
  utbot-go/src/main/resources/go_source_code_analyzer/function_modifier.go
  utbot-go/src/main/resources/go_source_code_analyzer/main.go
Labels: ctg-enhancement, ctg-bug-fix, lang-go

#1912 Fix `pytest` installation
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonGenerateTestsCommand.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
Labels: lang-python, comp-ide, ctg-bug-fix

#1913 IU plugin publishing #1905
  .github/workflows/publish-plugin-and-cli-from-branch.yml
Labels: ctg-enhancement, comp-github-action

#1914 Fix python fuzzing strategy
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TestGenerationLimitManager.kt
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1919 Fix python state before / state after changes detection
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgMethodConstructor.kt
Labels: comp-codegen, lang-python, ctg-bug-fix

#1923 Set correct cgLanguageAssistant in EngineProcess codegen #1918
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
Labels: comp-codegen, lang-kotlin, ctg-bug-fix

#1922 Some fixes in Python fuzzer logic
  utbot-python/samples/easy_samples/field.py
  utbot-python/samples/easy_samples/general.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/code/CodeGen.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonTree.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ReduceValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/SubtypeValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/TypeAliasValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/UnionValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/utils/ProviderUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonType.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/ast/test.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/TypeInferenceProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/BaselineAlgorithm.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/StateExpansion.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/TypeCandidateGeneration.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/mypy/RunMypy.kt
  utbot-python/src/test/kotlin/org/utbot/python/newtyping/PythonSubtypeCheckerTest.kt
Labels: ctg-enhancement, comp-fuzzing, lang-python

#1925 Added limit for number of executions
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1909 Improve fuzzer & test exports/imports in JavaScript module
  utbot-cli-js/src/main/kotlin/org/utbot/cli/js/JsGenerateTestsCommand.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/CoverageModeButtons.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsDialogProcessor.kt
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsTestsModel.kt
  utbot-js/build.gradle.kts
  utbot-js/samples/arrays.js
  utbot-js/samples/mapStructure.js
  utbot-js/samples/setStructure.js
  utbot-js/src/main/kotlin/api/JsTestGenerator.kt
  utbot-js/src/main/kotlin/codegen/JsCodeGenerator.kt
  utbot-js/src/main/kotlin/framework/api/js/util/JsIdUtil.kt
  utbot-js/src/main/kotlin/framework/codegen/JsDomain.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/visitor/CgJsRenderer.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzing.kt
  utbot-js/src/main/kotlin/fuzzer/providers/ArrayValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/BoolValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/MapValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/ObjectValueProvider.kt
  utbot-js/src/main/kotlin/fuzzer/providers/SetValueProvider.kt
  utbot-js/src/main/kotlin/parser/JsAstScrapper.kt
  utbot-js/src/main/kotlin/parser/JsFuzzerAstVisitor.kt
  utbot-js/src/main/kotlin/parser/JsParserUtils.kt
  utbot-js/src/main/kotlin/providers/exports/IExportsProvider.kt
  utbot-js/src/main/kotlin/providers/exports/ModuleExportsProvider.kt
  utbot-js/src/main/kotlin/providers/exports/RequireExportsProvider.kt
  utbot-js/src/main/kotlin/providers/imports/IImportsProvider.kt
  utbot-js/src/main/kotlin/providers/imports/ModuleImportsProvider.kt
  utbot-js/src/main/kotlin/providers/imports/RequireImportsProvider.kt
  utbot-js/src/main/kotlin/service/InstrumentationService.kt
  utbot-js/src/main/kotlin/service/ServiceContext.kt
  utbot-js/src/main/kotlin/service/TernService.kt
  utbot-js/src/main/kotlin/service/coverage/BasicCoverageService.kt
  utbot-js/src/main/kotlin/service/coverage/CoverageMode.kt
  utbot-js/src/main/kotlin/service/coverage/CoverageService.kt
  utbot-js/src/main/kotlin/service/coverage/CoverageServiceProvider.kt
  utbot-js/src/main/kotlin/service/coverage/FastCoverageService.kt
  utbot-js/src/main/kotlin/settings/JsDynamicSettings.kt
  utbot-js/src/main/kotlin/utils/JsClassConstructors.kt
  utbot-js/src/main/kotlin/utils/ValueUtil.kt
  utbot-js/src/main/kotlin/utils/data/CoverageData.kt
  utbot-js/src/main/kotlin/utils/data/MethodTypes.kt
  utbot-js/src/main/kotlin/utils/data/ResultData.kt
Labels: ctg-enhancement, comp-codegen, comp-fuzzing, lang-javascript

#1889 Prune branches with unexpected mocks
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/mock/CommonMocksExampleTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Mocks.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/util/mockListeners/ForceMockListener.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/util/mockListeners/ForceStaticMockListener.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestSpecificTestCaseGenerator.kt
Labels: comp-symbolic-engine, ctg-bug-fix

#1930 Update docker-for-utbot-java.md
  docs/ci/docker-for-utbot-java.md
Labels: ctg-documentation, spec-internal, comp-infrastructure

#1932 Add cached executions filtration
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TestGenerationLimitManager.kt
Labels: ctg-enhancement, comp-fuzzing, lang-python

#1931 set-output command removed because of deprecation #1898
  .github/workflows/build-and-run-tests-from-branch.yml
Labels: ctg-enhancement, comp-github-action

#1942 Fix wrong mocking configuration
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
Labels: comp-symbolic-engine, ctg-bug-fix

#1934 Implement search for all @Configuration classes in Spring project
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/models/BaseTestModel.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/components/TestFolderComboWithBrowseButton.kt
Labels: ctg-enhancement, comp-spring

#1938 Make tests on timeout generate method under test call for all test frameworks
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
Labels: comp-codegen, lang-java, ctg-bug-fix

#1653 Plugin compatibility with IDE 2022.3
  .github/workflows/build-and-run-tests-from-branch.yml
  .github/workflows/build-and-run-tests.yml
  .github/workflows/public-rider-plugin.yml
  .github/workflows/publish-plugin-and-cli-from-branch.yml
  .github/workflows/run-chosen-tests-from-branch.yml
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  utbot-analytics-torch/build.gradle
  utbot-analytics/build.gradle
  utbot-android-studio/build.gradle.kts
  utbot-cli-go/build.gradle
  utbot-cli-js/build.gradle
  utbot-cli-python/build.gradle
  utbot-cli/build.gradle
  utbot-core/src/main/kotlin/org/utbot/common/ReflectionUtil.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/constructor/LambdaConstructionUtils.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/constructor/ValueConstructor.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/OpenModulesContainer.kt
  utbot-framework-test/build.gradle
  utbot-framework/src/main/java/org/utbot/engine/overrides/collections/UtOptional.java
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/UtilMethodRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-go/build.gradle.kts
  utbot-instrumentation-tests/build.gradle
  utbot-instrumentation/build.gradle
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
  utbot-intellij-go/build.gradle.kts
  utbot-intellij-js/build.gradle.kts
  utbot-intellij-python/build.gradle.kts
  utbot-intellij/build.gradle.kts
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/inspection/UnitTestBotInspectionTool.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/sarif/SourceFindingStrategyIdea.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/MockAlwaysClassesTable.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/SettingsWindow.kt
  utbot-js/build.gradle.kts
  utbot-junit-contest/build.gradle
  utbot-python/build.gradle.kts
  utbot-rider/build.gradle.kts
  utbot-sample/build.gradle
  utbot-summary-tests/build.gradle
  utbot-testing/build.gradle
  utbot-testing/src/main/kotlin/org/utbot/testing/CodeGenerationIntegrationTest.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/CompilationAndRunUtils.kt
  utbot-ui-commons/build.gradle.kts
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/models/BaseTestModel.kt
Labels: ctg-refactoring, comp-ide

#1946 Fix empty list of JavaScript classes bug
  utbot-intellij-js/src/main/kotlin/org/utbot/intellij/plugin/language/js/JsLanguageAssistant.kt
Labels: comp-ui, lang-javascript, ctg-bug-fix

#1948 Bumping kotlin version and clearing gradle
  .github/workflows/collect-statistics.yml
  build.gradle.kts
  gradle.properties
  utbot-cli/Dockerfile
  utbot-intellij/build.gradle.kts
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/util/KtLightMethodUtil.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/util/PsiClassHelper.kt
  utbot-rider/build.gradle.kts
  utbot-rider/src/dotnet/UtBot/UtBot/UtBot.csproj
  utbot-sample/build.gradle
  utbot-ui-commons/build.gradle.kts
Labels: comp-ide

#1950 Persist Test Generation Timeout in utbot-settings.xml
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/Settings.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
Labels: comp-settings, ctg-bug-fix

#1894 Rider plugin fixes
  utbot-rd/src/main/rdgen/org/utbot/rd/models/CSharpModel.kt
  utbot-rider/dotnet-sdk.cmd
  utbot-rider/src/dotnet/UtBot/UtBot.Rd/Generated/VSharpModel.Generated.cs
  utbot-rider/src/dotnet/UtBot/UtBot.Rd/TypeDescriptor.cs
  utbot-rider/src/dotnet/UtBot/UtBot.VSharp/UtBot.VSharp.csproj
  utbot-rider/src/dotnet/UtBot/UtBot.VSharp/VSharpMain.cs
  utbot-rider/src/dotnet/UtBot/UtBot/GenerateUnitTestElementProvider.cs
  utbot-rider/src/dotnet/UtBot/UtBot/GenerateUnitTestWorkflowProvider.cs
  utbot-rider/src/dotnet/UtBot/UtBot/ProcessWithRdServer.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestBuilder.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/DotNetVersionUtils.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/FrameworkMoniker.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/Notifications.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/ProjectPublisher.cs
  utbot-rider/src/dotnet/UtBot/UtBot/VSharpFrameworkChecker.cs
Labels: ctg-enhancement, comp-rider-plugin, ctg-bug-fix

#1954 Removed redundant switch-case in mocks in case of only one branch
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
Labels: comp-codegen, ctg-bug-fix

#1955 Rename taint configuration classes
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/TaintAnalysisConfigurationParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/MethodArgumentParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintConditionParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintConfigurationParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintEntityParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintMarkParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintRuleParserTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/taint/parser/yaml/TaintSignatureParserTest.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/TaintAnalysisConfigurationParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/model/DataClasses.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/model/DataTransferObjects.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/MethodArgumentParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintConditionParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintConfigurationParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintEntityParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintMarkParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintRuleParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/TaintSignatureParser.kt
  utbot-framework/src/main/kotlin/org/utbot/taint/parser/yaml/Validation.kt
Labels: ctg-refactoring, comp-taint-analysis

#1952 Fix false naming escaping in JavaScript
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/visitor/CgJsRenderer.kt
Labels: comp-codegen, lang-javascript, ctg-bug-fix

#1960 Fix the way of looking for native libraries
  utbot-framework/src/main/kotlin/org/utbot/engine/z3/Z3initializer.kt
Labels: comp-infrastructure, ctg-bug-fix

#1818 Introduce utbot-spring-analyzer module
  settings.gradle.kts
  utbot-spring-analyzer/build.gradle.kts
  utbot-spring-analyzer/src/main/kotlin/ApplicationRunner.kt
  utbot-spring-analyzer/src/main/kotlin/analyzers/SpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/analyzers/XmlConfigurationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/config/TestApplicationConfiguration.kt
  utbot-spring-analyzer/src/main/kotlin/configurators/PropertiesConfigurator.kt
  utbot-spring-analyzer/src/main/kotlin/configurators/XmlFilesConfigurator.kt
  utbot-spring-analyzer/src/main/kotlin/post_processors/UtBotBeanFactoryPostProcessor.kt
  utbot-spring-analyzer/src/main/kotlin/utils/ConfigurationManager.kt
  utbot-spring-analyzer/src/main/kotlin/utils/FakeFileManager.kt
  utbot-spring-analyzer/src/main/kotlin/utils/PathsUtils.kt
  utbot-spring-analyzer/src/main/resources/resourсes_marker.txt
Labels: ctg-enhancement, comp-spring

#1959 Broken action for Project View multi-selection in IDEA 2022.3
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/language/JavaLanguage.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/language/agnostic/LanguageAssistant.kt
Labels: comp-ide, ctg-bug-fix

#1957 Refactor name and module management in python code generation and fuzzing
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/PythonObjectParser.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/PythonTree.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/util/PythonIdUtils.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/api/python/util/PythonTreeComparator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgMethodConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgVariableConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/BoolValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/BytearrayValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/BytesValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ComplexValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/DictValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/FloatValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/IntValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ListValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/ReduceValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/SetValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/StrValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/TupleValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonType.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/PythonTypeAPI.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
  utbot-python/src/main/resources/normalize_annotation_from_project.py
  utbot-python/src/main/resources/python_tree_serializer.py
  utbot-python/src/main/resources/requirements.txt
  utbot-python/src/main/resources/typeshed_stub.py
  utbot-python/src/test/kotlin/org/utbot/python/framework/api/python/utils/PythonTreeComparatorTest.kt
Labels: comp-codegen, ctg-refactoring, comp-fuzzing, lang-python, ctg-bug-fix

#1962 Fixed bug in HintCollector
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/ast/visitor/hints/HintCollector.kt
Labels: comp-fuzzing, lang-python, ctg-bug-fix

#1968 Kryo race fix
  gradle.properties
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/KryoHelper.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/CodeGenerationController.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-maven/build.gradle
  utbot-sample/build.gradle
Labels: comp-symbolic-engine, ctg-refactoring, comp-summaries, comp-rd, comp-instrumented-process

#1965 update docker/metadata-action #1898
  .github/workflows/build-and-run-tests.yml
Labels: ctg-enhancement, comp-github-action

#1970 Some pre-integration refactoring of utbot-spring-analyzer
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/ApplicationRunner.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzers/SpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/config/TestApplicationConfiguration.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/configurators/PropertiesConfigurator.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/configurators/XmlConfigurationParser.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/configurators/XmlFilesConfigurator.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/postProcessors/UtBotBeanFactoryPostProcessor.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/postProcessors/UtBotSpringShutdownException.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/ConfigurationManager.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/FakeFileManager.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/PathsUtils.kt
  utbot-spring-analyzer/src/main/resources/resources_marker.txt
Labels: ctg-refactoring, comp-spring

#1977 Avoid incorrect warning about the Destination package
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
Labels: comp-ui, comp-ide, ctg-bug-fix

#1985 Use detected project type in Codegen
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogWindow.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/CodeGenerationController.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-js/src/main/kotlin/codegen/JsCodeGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/models/BaseTestModel.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#1991 Fix traversing concrete types in NoImplementors mode
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
Labels: comp-symbolic-engine, ctg-bug-fix, comp-spring

#1967 Rider plugin bugfixes
  utbot-rider/src/dotnet/UtBot/UtBot/GenerateUnitTestElementProvider.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestBuilder.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/DotNetVersionUtils.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/Notifications.cs
  utbot-rider/src/dotnet/UtBot/UtBot/Utils/ProjectPublisher.cs
Labels: comp-rider-plugin, ctg-bug-fix

#1993 Update version of UtUtils class
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/UtilMethodBuiltins.kt
Labels: comp-codegen, ctg-bug-fix

#1996 Correctly handle randomizing of Seed.Recursive modifications
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Api.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/utils/Functions.kt
  utbot-fuzzing/src/test/kotlin/org/utbot/fuzzing/FuzzerSmokeTest.kt
Labels: ctg-bug, comp-fuzzing

#2000 Fix utbot inspection on inner classes
  utbot-framework/src/main/kotlin/org/utbot/sarif/DataClasses.kt
  utbot-framework/src/main/kotlin/org/utbot/sarif/SarifReport.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/sarif/SarifReportIdea.kt
Labels: comp-sarif, ctg-bug-fix

#1997 Set projectType in CodeGenerator properly everywhere
  utbot-cli/src/main/kotlin/org/utbot/cli/GenerateTestsAbstractCommand.kt
  utbot-framework-test/src/test/java/org/utbot/examples/manual/UtBotJavaApiTest.java
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/sarif/GenerateTestsAndSarifReportFacade.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/sarif/SarifExtensionProvider.kt
  utbot-gradle/docs/utbot-gradle.md
  utbot-gradle/src/main/kotlin/org/utbot/gradle/plugin/extension/SarifGradleExtension.kt
  utbot-gradle/src/main/kotlin/org/utbot/gradle/plugin/extension/SarifGradleExtensionProvider.kt
  utbot-gradle/src/test/kotlin/org/utbot/gradle/plugin/extension/SarifGradleExtensionProviderTest.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
  utbot-maven/docs/utbot-maven.md
  utbot-maven/src/main/kotlin/org/utbot/maven/plugin/GenerateTestsAndSarifReportMojo.kt
  utbot-maven/src/main/kotlin/org/utbot/maven/plugin/extension/SarifMavenConfigurationProvider.kt
  utbot-maven/src/test/kotlin/org/utbot/maven/plugin/extension/SarifMavenConfigurationProviderTest.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestCodeGeneratorPipeline.kt
Labels: ctg-enhancement, comp-codegen, comp-sarif

#1995 Fix problems with python execution
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeSocketExecutor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/UtExecutorThread.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
Labels: lang-python, ctg-bug-fix

#2002 Use unique mocking statement if all cases are equal
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/CgElement.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/renderer/CgAbstractRenderer.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgStatementConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ConstructorUtils.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgStatementConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgStatementConstructor.kt
Labels: ctg-enhancement, comp-codegen

#2006 Change a hard limit for arrays size
  build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/OpenModulesContainer.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/stdlib/JavaIOFileInputStreamCheck.kt
  utbot-framework/src/main/java/org/utbot/engine/overrides/stream/UtDoubleStream.java
  utbot-framework/src/main/java/org/utbot/engine/overrides/stream/UtIntStream.java
  utbot-framework/src/main/java/org/utbot/engine/overrides/stream/UtLongStream.java
  utbot-framework/src/main/java/org/utbot/engine/overrides/stream/UtStream.java
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-sample/src/main/java/org/utbot/examples/stdlib/JavaIOFileInputStreamCheck.java
  utbot-summary-tests/src/test/kotlin/examples/SummaryTestCaseGeneratorTest.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestSpecificTestCaseGenerator.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/UtModelTestCaseChecker.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/UtValueTestCaseChecker.kt
Labels: ctg-enhancement, comp-symbolic-engine

#2018 Fix closing utbot inspection context
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/inspection/UnitTestBotInspectionContext.kt
Labels: comp-ide, comp-sarif, ctg-bug-fix

#2019 Disable flaky test in summaries
  utbot-summary-tests/src/test/kotlin/math/SummaryOfMathTest.kt
Labels: comp-summaries, ctg-bug-fix

#2014 Add missed mockInfoGenerator for system static objects
  utbot-framework-test/src/test/kotlin/org/utbot/examples/mock/MockStaticMethodExampleTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-sample/src/main/java/org/utbot/examples/mock/MockStaticMethodExample.java
Labels: comp-symbolic-engine, ctg-bug-fix

#2010 Fix python `sys.path` problems
  utbot-intellij-python/src/main/kotlin/org/utbot/intellij/plugin/language/python/PythonDialogProcessor.kt
Labels: lang-python, ctg-bug-fix

#2029 Fix python small bugs
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/TupleFixSizeValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/utils/SummaryGeneration.kt
Labels: comp-codegen, comp-fuzzing, lang-python, ctg-bug-fix

#2024 Fix casts in overflow checking function
  utbot-framework-test/src/test/kotlin/org/utbot/examples/math/OverflowAsErrorTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-sample/src/main/java/org/utbot/examples/math/OverflowExamples.java
Labels: comp-symbolic-engine, ctg-bug-fix

#1984 Spring analyzer improvements (fix uncaught exception, add shadowJar task, fix dynamic resources not being found on the classpath)
  utbot-spring-analyzer/build.gradle.kts
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzers/SpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/postProcessors/UtBotBeanFactoryPostProcessor.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/postProcessors/UtBotSpringShutdownException.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/ConfigurationManager.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/PathsUtils.kt
  utbot-spring-analyzer/src/main/resources/resources_marker.txt
Labels: ctg-enhancement, comp-spring

#2032 Make TypeReplacementApproach be sealed class, so configFqn is stored
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: ctg-refactoring, comp-spring

#2031 Go. Bug fixes
  utbot-go/go-samples/simple/nested/nested.go
  utbot-go/go-samples/simple/samples_go_ut_test.go
  utbot-go/go-samples/simple/supported_types.go
  utbot-go/go-samples/simple/supported_types_go_ut_test.go
  utbot-go/src/main/kotlin/org/utbot/go/api/GoTypesApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/api/util/GoTypesApiUtil.kt
  utbot-go/src/main/kotlin/org/utbot/go/framework/api/go/GoApi.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/AnalysisResults.kt
  utbot-go/src/main/kotlin/org/utbot/go/gocodeanalyzer/GoSourceCodeAnalyzer.kt
  utbot-go/src/main/kotlin/org/utbot/go/imports/GoImportsResolver.kt
  utbot-go/src/main/kotlin/org/utbot/go/logic/GoTestCasesGenerator.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoCodeTemplates.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/GoWorkerCodeGenerationHelper.kt
  utbot-go/src/main/kotlin/org/utbot/go/worker/RawExecutionResults.kt
  utbot-intellij-go/src/main/kotlin/org/utbot/intellij/plugin/language/go/generator/GoUtTestsDialogProcessor.kt
Labels: ctg-bug-fix, lang-go

#2049 Open "java.nio" package for reflection
  build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/OpenModulesContainer.kt
Labels: comp-codegen, ctg-bug-fix

#2016 Call `doNothing` from mockito in tests for method calls returning void
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/MockitoBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
Labels: ctg-enhancement, comp-codegen

#2054 Static methods mocking fix
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
Labels: comp-symbolic-engine, comp-instrumented-process, ctg-bug-fix

#2058 Open "java.net" for reflection
  build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/OpenModulesContainer.kt
Labels: comp-codegen, ctg-bug-fix

#2052 Avoid false NPE tests for Spring classes
  docs/SpeculativeFieldNonNullability.md
  utbot-framework-api/src/main/kotlin/org/utbot/framework/TrustedPackages.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/util/IdUtil.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/ArrayObjectWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/CollectionIteratorWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/CollectionWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Extensions.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Memory.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/ThreadWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/util/statics/concrete/EnumConcreteUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/modifications/ExecutablesAnalyzer.kt
Labels: ctg-enhancement, comp-symbolic-engine, comp-spring

#2059 Enlarge ModelId in codegen with testSetId
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2061 Open "sun.net.util", "sun.nio.fs" and "java.nio.file" for reflection
  build.gradle.kts
  utbot-framework-api/src/main/kotlin/org/utbot/framework/process/OpenModulesContainer.kt
Labels: comp-codegen, ctg-bug-fix

#2067 Added a test with a path diversion because of jdk statics
  utbot-framework-test/src/test/kotlin/org/utbot/examples/stdlib/JavaIOFileInputStreamCheckTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/stdlib/StaticsPathDiversionTest.kt
  utbot-sample/src/main/java/org/utbot/examples/stdlib/StaticsPathDiversion.java
Labels: ctg-question, comp-symbolic-engine

#2076 disable issues auto publishing #2071
  .github/workflows/issue-to-project.yml
Labels: ctg-enhancement, comp-github-action

#2081 Compile whole modules before generation for Maven projects
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
Labels: comp-ide, ctg-bug-fix
