Repository UnitTestBot/UTBotJava, pull requests merged in 2023-10, with the labels that each got.

#2626 Limit number of Spring context resets during reruns
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/context/custom/RerunningConcreteExecutionContext.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
Labels: spec-performance, ctg-bug-fix, comp-spring

#2641 Use assertSame instead of deepEquals if actual is a mock
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/TestFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsTestFrameworkManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonTestFrameworkManager.kt
Labels: comp-codegen, ctg-bug-fix

#2642 Avoid spying collection-like types with @Spy if it may mislead @InjectMocks behaviour
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/fieldmanager/CgSpiedFieldsManager.kt
Labels: comp-codegen, ctg-bug-fix

#2646 Make JDK names more readable (in unsupported version warning)
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UnitTestBotActionTest.kt
Labels: ctg-enhancement, comp-ui

#2632 Introduce and test `UtBotSpringApi`
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessTask.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/external/api/UtBotSpringApi.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/context/spring/SpringApplicationContextImpl.kt
  utbot-spring-framework/src/main/kotlin/org/utbot/framework/process/SpringAnalyzerTask.kt
  utbot-spring-sample/build.gradle
  utbot-spring-sample/build.gradle.kts
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/config/boot/ExampleSpringBootConfig.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/config/boot/ExampleSpringBootService.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/config/pure/ExamplePureSpringConfig.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/config/pure/ExamplePureSpringService.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/config/utils/SafetyUtils.java
  utbot-spring-sample/src/main/java/org/utbot/examples/spring/config/xml/ExampleXmlService.java
  utbot-spring-sample/src/main/resources/xml-spring-config.xml
  utbot-spring-test/build.gradle
  utbot-spring-test/src/test/java/org/utbot/examples/spring/manual/UtBotSpringApiTest.java
  utbot-spring-test/src/test/kotlin/org/utbot/examples/spring/autowiring/SpringNoConfigUtValueTestCaseChecker.kt
Labels: ctg-enhancement, comp-spring

#2651 plugin.xml changes for release 2023.10
  utbot-intellij/src/main/resources/META-INF/plugin.xml
Labels: ctg-enhancement, comp-ide

#2654 Update plugin.xml and plugin-specific services to actual IntelliJ API
  build.gradle.kts
  utbot-intellij/src/main/resources/META-INF/plugin.xml
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/Notifications.kt
Labels: comp-ide, ctg-bug-fix

#2653 #2652: increase gradle action version
  .github/workflows/publish-on-github-packages.yml
Labels: ctg-enhancement, comp-infrastructure, comp-github-action

#2629 IntelliJ UI tests for Spring and corrections of regular Java tests
  utbot-intellij/readme.md
  utbot-intellij/src/test/kotlin/org/utbot/data/RunInfo.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/AddFileToGitDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/GetFromVersionControlDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/NewProjectDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/OpenOrImportProjectDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/ProjectStructureDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/UnitTestBotDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/WarningDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/elements/NotificationFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaGradleFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaMavenFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/WelcomeFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/samples/CodeSamples.kt
  utbot-intellij/src/test/kotlin/org/utbot/steps/IDESteps.kt
  utbot-intellij/src/test/kotlin/org/utbot/tabs/InspectionViewFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/BaseTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/CreateProjects.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/SpringUTBotActionTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UTBotActionTest.kt
Labels: ctg-qa, comp-ide, lang-java, comp-spring

#2660 Actualise test for using except on provider with fallback
  utbot-fuzzing/src/test/kotlin/org/utbot/fuzzing/ProvidersTest.kt
Labels: comp-fuzzing, ctg-bug-fix

#2661 Added Spring design doc
  docs/spring.md
Labels: ctg-documentation, comp-spring

#2662 Improve python tracing process
  utbot-cli-python/src/main/kotlin/org/utbot/cli/language/python/PythonGenerateTestsCommand.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/CoverageApi.kt
  utbot-python-executor/src/main/python/utbot_executor/pyproject.toml
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/__main__.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/executor.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/listener.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/parser.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/ut_tracer.py
  utbot-python-executor/src/main/python/utbot_executor/utbot_executor/utils.py
  utbot-python-executor/src/main/resources/utbot_executor_version
  utbot-python/samples/run_tests.py
  utbot-python/samples/samples/classes/field.py
  utbot-python/samples/samples/controlflow/multi_conditions.py
  utbot-python/samples/samples/structures/matrix.py
  utbot-python/samples/test_configuration.json
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestCaseGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationConfig.kt
  utbot-python/src/main/kotlin/org/utbot/python/PythonTestGenerationProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/coverage/CoverageApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/coverage/CoverageIdGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/coverage/CoverageOutput.kt
  utbot-python/src/main/kotlin/org/utbot/python/coverage/Utils.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/CodeEvaluationApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeSocketExecutor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCoverageReceiver.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialization/ExecutionResultDeserializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/utils/Utils.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/PythonApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/fuzzing/provider/DictValueProvider.kt
  utbot-python/src/main/kotlin/org/utbot/python/newtyping/inference/baseline/BaselineAlgorithm.kt
Labels: ctg-refactoring, lang-python

#2140 JavaApi for UtBot Python
  utbot-python/src/main/kotlin/org/utbot/python/framework/external/JavaApiProcessor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/external/PythonObjectName.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/external/PythonTestMethodInfo.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/external/PythonUtBotJavaApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/external/RequirementsInstaller.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/FindCurrentPythonModule.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/TemporaryFileManager.kt
  utbot-python/src/main/resources/example_code/__init__.py
  utbot-python/src/main/resources/example_code/arithmetic.py
  utbot-python/src/main/resources/example_code/inner_dir/__init__.py
  utbot-python/src/main/resources/example_code/inner_dir/inner_module.py
  utbot-python/src/test/java/org/utbot/python/framework/external/PythonUtBotJavaApiTest.java
Labels: ctg-enhancement, lang-python

#2668 Fix gaps in settings
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/SettingsWindow.kt
Labels: comp-ui, comp-settings, ctg-bug-fix
