Repository UnitTestBot/UTBotJava, pull requests merged in 2023-01, with the labels that each got.

#1621 Add missed mock generator for static fields
  utbot-framework-test/src/test/kotlin/org/utbot/examples/mock/MockStaticFieldExampleTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-sample/src/main/java/org/utbot/examples/mock/MockStaticFieldExample.java
  utbot-sample/src/main/java/org/utbot/examples/mock/others/ClassWithStaticField.java
Labels: engine

#1619 Add support for generic information retrieved from signatures of nested methods
  utbot-framework-test/src/test/kotlin/org/utbot/examples/types/GenericsTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/ArrayObjectWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/pc/Z3TranslatorVisitor.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/types/TypeRegistry.kt
  utbot-sample/src/main/java/org/utbot/examples/collections/Maps.java
  utbot-sample/src/main/java/org/utbot/examples/types/CollectionAsField.java
  utbot-sample/src/main/java/org/utbot/examples/types/Generics.java
Labels: engine

#1630 Enabled assemble model generator for contest
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
Labels: contest estimator

#1633 Fixed creating chunk for field in wrapper with package-private type
  utbot-framework/src/main/kotlin/org/utbot/engine/Hierarchy.kt
Labels: engine

#1638 Fuzzer generates values even when class is private #1635
  utbot-fuzzers/src/main/kotlin/org/utbot/fuzzing/providers/Objects.kt
  utbot-fuzzers/src/test/java/org/utbot/fuzzing/samples/AccessibleObjects.java
  utbot-fuzzers/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
Labels: fuzzing

#1640 Added CgLanguageAssistant to CodeGeneration constructor #1639
  utbot-cli/src/main/kotlin/org/utbot/cli/GenerateTestsAbstractCommand.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/sarif/GenerateTestsAndSarifReportFacade.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestCodeGeneratorPipeline.kt
Labels: codegen, python

#1636 Add options for clinit sections
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-api/src/main/kotlin/org/utbot/testcheckers/SettingsModificators.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/objects/ClassForTestClinitSectionsTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-sample/src/main/java/org/utbot/examples/objects/ClassForTestClinitSections.java
Labels: engine

#1656 Labels corrected in Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/test_request.md
Labels: spec-infrastructure

#1663 Labels corrected in Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/test_request.md
Labels: comp-infrastructure, ctg-bug-fix

#1658 Added constructing `this` instance for captured values of lambda in case of early return
  utbot-framework-test/src/test/kotlin/org/utbot/examples/lambda/ThrowingWithLambdaExampleTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/ObjectCounter.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-sample/src/main/java/org/utbot/examples/lambda/ThrowingWithLambdaExample.java
Labels: comp-symbolic-engine

#1690 Fixed copyOf, copyOfRange and asList failures
  utbot-framework-test/src/test/kotlin/org/utbot/examples/arrays/CopyOfExampleTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/collections/ListsPart3Test.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/collections/MapsPart2Test.kt
  utbot-framework/src/main/java/org/utbot/engine/overrides/System.java
  utbot-framework/src/main/java/org/utbot/engine/overrides/stream/Arrays.java
  utbot-framework/src/main/kotlin/org/utbot/engine/CollectionWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/ObjectWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/types/TypeResolver.kt
  utbot-sample/src/main/java/org/utbot/examples/arrays/CopyOfExample.java
  utbot-sample/src/main/java/org/utbot/examples/collections/Lists.java
Labels: comp-symbolic-engine

#1720 Make toMethodResult function safer
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
Labels: comp-symbolic-engine, ctg-bug-fix

#1721 Avoid name clashes with types from java.lang
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/ConstructorUtils.kt
Labels: ctg-bug, comp-codegen

#1714 Update PR template with requirements for labels and titles
  .github/pull_request_template.md
Labels: ctg-enhancement, comp-infrastructure

#1725 Added symbolic wrappers for Ut iterators
  utbot-framework-test/src/test/kotlin/org/utbot/examples/collections/ListIteratorsTest.kt
  utbot-framework-test/src/test/kotlin/org/utbot/examples/collections/SetIteratorsTest.kt
  utbot-framework/src/main/java/org/utbot/engine/overrides/collections/UtArrayList.java
  utbot-framework/src/main/java/org/utbot/engine/overrides/collections/UtLinkedList.java
  utbot-framework/src/main/kotlin/org/utbot/engine/CollectionIteratorWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/CollectionWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/ObjectWrappers.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/SootUtils.kt
  utbot-sample/src/main/java/org/utbot/examples/collections/ListIterators.java
  utbot-sample/src/main/java/org/utbot/examples/collections/SetIterators.java
Labels: comp-symbolic-engine, ctg-bug-fix

#1729 Replace 'UTBot' name mentions with 'UnitTestBot'
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/CodeGenerationController.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/Notifications.kt
Labels: ctg-bug, comp-ui, priority-minor

#1732 Reduce summarization API to one method
  utbot-cli/src/main/kotlin/org/utbot/cli/GenerateTestsAbstractCommand.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/sarif/GenerateTestsAndSarifReportFacade.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
  utbot-summary-tests/src/test/kotlin/examples/SummaryTestCaseGeneratorTest.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/Summarization.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/UtValueTestCaseChecker.kt
Labels: ctg-refactoring, comp-summaries

#1505 IntelliJ plugin UI smoke tests
  utbot-intellij/build.gradle.kts
  utbot-intellij/src/test/kotlin/org/utbot/data/IdeaBuildSystem.kt
  utbot-intellij/src/test/kotlin/org/utbot/data/JDKVersion.kt
  utbot-intellij/src/test/kotlin/org/utbot/data/RunInfo.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/DialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/NewProjectDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/OpenProjectDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/dialogs/UnitTestBotDialogFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/elements/ActionMenuFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/elements/NotificationFixture.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaGradleFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/IdeaIntelliJFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/pages/WelcomeFrame.kt
  utbot-intellij/src/test/kotlin/org/utbot/steps/SharedSteps.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/CreateProjects.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UTBotTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/tests/UnitTestBotActionTest.kt
  utbot-intellij/src/test/kotlin/org/utbot/utils/RemoteRobotExtension.kt
  utbot-intellij/src/test/kotlin/org/utbot/utils/StepsLogger.kt
  utbot-intellij/src/test/resources/junit-platform.properties
  utbot-intellij/src/test/resources/log4j2.xml
Labels: comp-ui, ctg-qa

#1740 Add new fuzzing update method to control execution
  utbot-fuzzers/src/main/kotlin/org/utbot/fuzzing/JavaLanguage.kt
  utbot-fuzzers/src/test/java/org/utbot/fuzzing/samples/FailToGenerateListGeneric.java
  utbot-fuzzers/src/test/kotlin/org/utbot/fuzzing/JavaFuzzingTest.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Api.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Configuration.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Providers.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/Statistic.kt
  utbot-fuzzing/src/main/kotlin/org/utbot/fuzzing/utils/MissedSeed.kt
Labels: comp-fuzzing, ctg-bug-fix

#1748 Add minor hints to PR template
  .github/pull_request_template.md
Labels: ctg-documentation, comp-infrastructure

#1746 Add support for virtual invokes on enums
  utbot-framework-test/src/test/kotlin/org/utbot/examples/enums/ClassWithEnumTest.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Memory.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Resolver.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-sample/src/main/java/org/utbot/examples/enums/ClassWithEnum.java
Labels: comp-symbolic-engine, ctg-bug-fix

#1472 some options moved from gradle.properties to GRADLE_OPTS #1470
  .github/workflows/build-and-run-tests-from-branch.yml
  .github/workflows/build-and-run-tests.yml
  .github/workflows/public-rider-plugin.yml
  .github/workflows/publish-on-github-packages.yml
  .github/workflows/publish-plugin-and-cli-from-branch.yml
  .github/workflows/run-chosen-tests-from-branch.yml
  gradle.properties
Labels: comp-infrastructure, ctg-bug-fix

#1747 Rider: cli and pwd
  utbot-rider/src/dotnet/UtBot/UtBot/ProcessWithRdServer.cs
  utbot-rider/src/dotnet/UtBot/UtBot/UnitTestBuilder.cs
Labels: comp-rider-plugin

#1728 Redesign for Concrete Executor timeout
  .github/workflows/build-and-run-tests-from-branch.yml
  build.gradle.kts
  docs/ResultAndErrorHandlingApiOfTheInstrumentedProcess.md
  utbot-core/src/main/kotlin/org/utbot/common/StopWatch.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/UtSettings.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/UtExecutionResult.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/Traverser.kt
  utbot-framework/src/main/kotlin/org/utbot/engine/UtBotSymbolicEngine.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/TestCaseGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/EngineUtils.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/util/UtConcreteExecutionResultUtils.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/ConcreteExecutor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/UtExecutionInstrumentation.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/constructors/MockValueConstructor.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ExecutionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/InvocationContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/InvocationPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ModelConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhaseContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PhasesController.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PostprocessingContext.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PostprocessingPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/PreparationPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/StatisticsCollectionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/instrumentation/execution/phases/ValueConstructionPhase.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/process/InstrumentedProcessMain.kt
  utbot-instrumentation/src/main/kotlin/org/utbot/instrumentation/util/InstrumentationException.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-junit-contest/build.gradle
  utbot-rd/src/main/kotlin/org/utbot/rd/UtRdUtil.kt
  utbot-rd/src/main/kotlin/org/utbot/rd/generated/SynchronizationModelRoot.Generated.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/comment/classic/symbolic/SimpleCommentBuilder.kt
  utbot-summary/src/main/kotlin/org/utbot/summary/name/SimpleNameBuilder.kt
Labels: comp-symbolic-engine, comp-rd, comp-instrumented-process, ctg-bug-fix

#1559 Document on UnitTestBot decomposition added
  docs/UnitTestBotDecomposition.md
Labels: ctg-documentation

#1756 buildkit version downgraded #1755
  .github/workflows/build-and-run-tests.yml
Labels: comp-github-action, ctg-bug-fix

#1754 Improve isAccessible checks
  utbot-framework/src/main/kotlin/org/utbot/framework/assemble/AssembleModelGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgCallableAccessManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/access/CgFieldStateManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgMethodConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/util/FieldIdUtil.kt
Labels: comp-codegen, ctg-bug-fix

#1750 Add codeforces examples to contest estimator
  utbot-junit-contest/README.md
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/ContestEstimator.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/ExpectedExceptions.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Statistics.kt
  utbot-junit-contest/src/main/resources/classes/codeforces/exceptions
  utbot-junit-contest/src/main/resources/classes/codeforces/list
  utbot-junit-contest/src/main/resources/projects/codeforces/Codeforces-1.0-SNAPSHOT.jar
Labels: ctg-enhancement, comp-contest-estimator

#1687 Fixed JavaScript `UtContext` error & removed annotation for framework outer classes
  utbot-js/src/main/kotlin/framework/api/js/JsApi.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsTestFrameworkManager.kt
Labels: lang-javascript, ctg-bug-fix
