Repository UnitTestBot/UTBotJava, pull requests merged in 2023-05, with the labels that each got.

#2190 Improve profile selection options on UI
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/utils/EnvironmentFactory.kt
Labels: ctg-enhancement, comp-ui

#2193 Remove classId comparison for UtCompositeModel
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
Labels: ctg-enhancement, comp-symbolic-engine

#2167 Fix return of JavaScript std structures from functions under test
  utbot-js/samples/arrays.js
  utbot-js/samples/mapStructure.js
  utbot-js/samples/setStructure.js
  utbot-js/src/main/kotlin/api/JsTestGenerator.kt
  utbot-js/src/main/kotlin/api/JsUtModelConstructor.kt
  utbot-js/src/main/kotlin/framework/api/js/JsApi.kt
  utbot-js/src/main/kotlin/framework/api/js/util/JsIdUtil.kt
  utbot-js/src/main/kotlin/framework/codegen/JsDomain.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgMethodConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/visitor/CgJsRenderer.kt
  utbot-js/src/main/kotlin/fuzzer/JsFuzzerApi.kt
  utbot-js/src/main/kotlin/parser/JsFunctionAstVisitor.kt
  utbot-js/src/main/kotlin/service/InstrumentationService.kt
  utbot-js/src/main/kotlin/service/PackageJsonService.kt
  utbot-js/src/main/kotlin/service/TernService.kt
  utbot-js/src/main/kotlin/service/coverage/BasicCoverageService.kt
  utbot-js/src/main/kotlin/service/coverage/CoverageServiceProvider.kt
  utbot-js/src/main/kotlin/service/coverage/FastCoverageService.kt
  utbot-js/src/main/kotlin/utils/JsCmdExec.kt
  utbot-js/src/main/kotlin/utils/ValueUtil.kt
  utbot-js/src/main/kotlin/utils/data/ResultData.kt
Labels: lang-javascript, ctg-bug-fix

#2198 Change settings order and fix percentage display for Fuzzing/Symbolic ratio
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/SettingsWindow.kt
Labels: ctg-enhancement, comp-ui, comp-settings, ctg-bug-fix

#2200 Enlarge model returned from `utbot-spring-analyzer`
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/SpringAnalyzerModel.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzers/PureSpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzers/SpringApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzers/SpringApplicationAnalyzerFacade.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/analyzers/SpringBootApplicationAnalyzer.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/exception/UtBotSpringShutdownException.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/generated/SpringAnalyzerProcessModel.Generated.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/postProcessors/UtBotBeanFactoryPostProcessor.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/process/SpringAnalyzerProcess.kt
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/process/SpringAnalyzerProcessMain.kt
Labels: ctg-enhancement, comp-spring

#2197 Automatically install Spring test dependencies into user project if required
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/api/utils/DependencyPatterns.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/UtTestsDialogProcessor.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/ExternalLibraryDescriptors.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/Settings.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/LibraryMatcher.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/ui/utils/DialogWindowUtils.kt
Labels: ctg-enhancement, comp-ui, comp-spring

#2195 Add socket channel for coverage collection
  utbot-python/samples/easy_samples/long_function_coverage.py
  utbot-python/src/main/kotlin/org/utbot/python/PythonEngine.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/CodeEvaluationApi.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCodeSocketExecutor.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCoverageReceiver.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/serialiation/ExecutionRequestSerializer.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/utils/CoverageIdGenerator.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/utils/Utils.kt
  utbot-python/src/main/kotlin/org/utbot/python/utils/RequirementsUtils.kt
Labels: ctg-enhancement, lang-python, comp-minimizer

#2199 Improved get-or-create-variable logic
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/Domain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/context/CgContext.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSimpleTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringVariableConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgVariableConstructor.kt
  utbot-js/src/main/kotlin/framework/codegen/model/constructor/tree/JsCgVariableConstructor.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/constructor/tree/PythonCgVariableConstructor.kt
Labels: comp-codegen, comp-spring

#2212 Prevent tests generation for JDK 17+, update UI dynamically
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, comp-ide, lang-java, ctg-bug-fix

#2214 Fix double-quoted spring-analyzer process classpath argument
  utbot-spring-analyzer/src/main/kotlin/org/utbot/spring/process/SpringAnalyzerProcess.kt
Labels: ctg-bug-fix, comp-spring

#2230 Divide Spring unit and integration testing in codegen
  docs/UnitTestBotDecomposition.md
  utbot-cli/src/main/kotlin/org/utbot/cli/GenerateTestsAbstractCommand.kt
  utbot-framework-api/src/main/kotlin/org/utbot/framework/plugin/api/Api.kt
  utbot-framework/src/main/kotlin/org/utbot/external/api/UtBotJavaApi.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/builtin/SpringBuiltins.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/TestClassModel.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/domain/models/builders/SpringTestClassModelBuilder.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/AbstractCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/CodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/CodeGeneratorResult.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/generator/SpringCodeGenerator.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgAbstractSpringTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringIntegrationTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/plugin/sarif/GenerateTestsAndSarifReportFacade.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/EngineProcessMain.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/process/generated/EngineProcessModel.Generated.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/generator/CodeGenerationController.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/models/GenerateTestsModel.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/process/EngineProcess.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/settings/Settings.kt
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
  utbot-js/src/main/kotlin/codegen/JsCodeGenerator.kt
  utbot-junit-contest/src/main/kotlin/org/utbot/contest/Contest.kt
  utbot-python/src/main/kotlin/org/utbot/python/framework/codegen/model/PythonCodeGenerator.kt
  utbot-rd/src/main/rdgen/org/utbot/rd/models/EngineProcessModel.kt
  utbot-testing/src/main/kotlin/org/utbot/testing/TestCodeGeneratorPipeline.kt
  utbot-ui-commons/src/main/kotlin/org/utbot/intellij/plugin/settings/CommonSettings.kt
Labels: ctg-enhancement, comp-codegen, comp-spring

#2233 Fix problem with infinite running python-cli
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonCoverageReceiver.kt
  utbot-python/src/main/kotlin/org/utbot/python/evaluation/PythonWorkerManager.kt
Labels: comp-cli, lang-python, ctg-bug-fix

#2242 Fix plugin compatibility with ideType=IU
  utbot-js/src/main/kotlin/codegen/JsCodeGenerator.kt
Labels: comp-codegen, ctg-bug-fix

#2245 Correct staticsMocking enabled and selected on UI
  utbot-intellij/src/main/kotlin/org/utbot/intellij/plugin/ui/GenerateTestsDialogWindow.kt
Labels: comp-ui, ctg-bug-fix

#2247 Correct two regressions in Spring codegen
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/services/framework/MockFrameworkManager.kt
  utbot-framework/src/main/kotlin/org/utbot/framework/codegen/tree/CgSpringUnitTestClassConstructor.kt
Labels: comp-codegen, ctg-bug-fix
